/* Magnific Popup Custom CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80); }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; } 

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; 
  outline:none;}

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #cccccc;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }

.mfp-preloader a {
  color: #cccccc; }

.mfp-preloader a:hover {
  color: white; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  padding: 0;
  z-index: 1046; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: white;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover, .mfp-close:focus {
    opacity: 1; }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: white;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

 .mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: black; }

.mfp-iframe-holder .mfp-close {
  top: -40px; }


@media all and (max-width: 900px) {

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } 
}

/* Wookmark Custom CSS */

#tiles {
  list-style-type: none;
  position: relative; 
  margin: 0;
  padding: 0;
}

#tiles li {
  width: 200px;
  background-color: #ffffff;
  border: 1px solid #dedede;
          border-radius: 2px;
     -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  display: none; 
  cursor: pointer;
  
        -moz-box-sizing: border-box;
           box-sizing: border-box;
		   box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 3px rgba(0, 0, 0, 0.2);
padding: 0px;
}


.wookmark-placeholder {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background-color: #eee;
  border: 1px solid #dedede;
  z-index: -1;
}


#tiles li {
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}

.wookmark-placeholder {
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}


    #tiles li img {
      width: 100%;
      height: auto;
	  display: block;
    }
	
	#tiles li p {
		color: #666;
		font-size: 14px;
		font-family: sans-serif;
		
		line-height: 1.231;
		text-align: left;
		
		
		line-height: 25px;
		overflow: hidden;
		
		margin:2px 10px 10px 10px;
		height: 40px;
	}


/*Youmax CSS*/

#youmax,.youmax {
background-color: rgb(230,230,230);
width:100%;
margin:0px auto;
font-family: Calibri;
font-size: 14px;
text-align: center;
}

.youmax-video-list-title {
color: #438bc5;
display: inline-block;
font-weight: bold;
overflow: hidden;
font-family: Calibri;
font-size: 14px;
height: 22px;
float: left;
width: 100%;
}

.youmax-video-list-views {
color: #555;
display: inline-block;
font-size: 12px;
float: left;
}

.youmax-duration {
background-color: black;
color: white;
padding: 2px 3px;
font-weight: bold;
position: absolute;
bottom: 52px;
right: 0;
opacity: 1;
}

.youmax-definition {
background-color: black;
color: white;
padding: 2px 3px;
font-weight: bold;
position: absolute;
top: 0;
left: 0;
opacity: 1;
}

#youmax-lightbox {position:fixed;background-color:rgba(0,0,0,0.9);z-index:100;width:100%;height:100%;left:0;top:0;display:none;}

#youmax-video-lightbox {opacity:1;}

#youmax-iframe-holder {
width:100%; 
position:absolute; 
left: 0;
top: 0;
bottom: 0;
right: 0;
margin: auto;
height: 480px;
}

.youmax-loading {
position: absolute;
left: 0;
top: 0;
bottom: 0;
right: 0;
margin: auto;
width: 120px;
height: 30px;
color: white;
font-size: 30px;
}

#youmax-header {
background-color: rgb(53,53,53);
font: 24px Arial;
color: white;
line-height: 25px;
height: 90px;
text-align: left;
position: relative;
background-position: center center;
background-size: cover;
}

#youmax-header-wrapper {
position:relative;
width: 100%;
height: 100%;
background-color: rgba(0,0,0,0.2);
}

#youmax-stat-holder {
float: right;
height: 100%;
}


.youmax-stat {
float: right;
margin: 10px;
font: 10px Arial;
color: #fff;
margin-top: 25px;
text-align: center;
}

#youmax-video-list-div {
width: 100%;
text-align: left;
display: inline-block;
background-color: rgb(230,230,230);
}

.youmax-stat-count {
font: 18px Arial;
padding-bottom: 5px;
display: inline-block;
}

.youmax-channel-icon {
display: inline-block;
}

.youmax-channel-title {
display: inline-block;
font-family: Calibri;
font-size: 24px;
vertical-align: top;
height: 90px;
line-height: 90px;
}

.youmax-channel-icon  img{
vertical-align:middle; height:60px; margin: 15px; display:inline-block;
border: none;
}

.youmax-subscribe{
display: inline-block;
width: 150px;
height: 25px;
overflow: hidden;
position: absolute;
top: 0;
margin: auto;
left: 0;
bottom: 0;
right: 0;
}

.youmax-subscribe div {
position:static !important;
vertical-align: top !important;
}

.youmax-subscribe iframe {
position:static !important;

}

#youmax-header-wrapper>a {
text-decoration: none;
color: white;
height: 90px;
display: inline-block;
outline: none;
}

#youmax-tabs {
text-align: left;
background-color: rgb(230,230,230);
padding-left: 10px;
padding-right: 10px;
margin-top: 15px;
}

.youmax-tab {
background-color: rgb(230,230,230);
color: #666;
text-shadow: 0 1px 0 #fff;
display: inline-block;
margin: 5px;
margin-top: 10px;
padding: 4px 10px;
cursor: pointer;
cursor: hand;
/*max-width: 150px;*/
height: 23px;
overflow: hidden;
line-height: 23px;
box-sizing: content-box;
}

.youmax-tab:hover {
background-color: rgb(247, 247, 247);
}

.youmax-tab-hover {
	color:white;
	background-color:rgb(99, 225, 209) !important;
	text-shadow:0 0;

}


#youmax-load-more-div {
width: 100%;
height: 40px;
line-height: 40px;
background-color: rgb(212, 212, 212);
color: #666;
text-shadow: 0 1px 0 #fff;
cursor: pointer;
}

div#youmax-load-more-div:hover {
color: white;
background-color: rgb(99, 225, 209);
text-shadow:none;
}

.youmax-load-more-div-click {
color: white !important;
background-color: rgb(99, 225, 209) !important;
text-shadow:none !important;
}

#youmax-select{
width: 90%;
font-size: 14px;
margin-top: 20px;
border: 1px solid #ccc;
border-radius: 4px;
height: auto;
padding: 8px;
outline: none;
background-color:white;
}

#youmax-select-box{
	display:none;
}

#youmax-select > option {
  background: white;
  color:#5A5A5A;
  cursor:pointer;
}

#youmax-encloser {
margin-top: 20px;
}

/*Fitvids*/

.fluid-width-video-wrapper{width:100%;position:relative;padding:0;}
.fluid-width-video-wrapper iframe{position:absolute;top:0;left:0;width:100%;height:100%;}

/*Responsive media queries*/


@media all and (max-width: 800px) , screen and (max-device-width: 800px) {

	#youmax-stat-holder {
	display:none;
	}

	.youmax-subscribe {
	left:initial;
	}

	#youmax-select-box{
		display:block;
	}

	#youmax-tabs {
		display:none;
	}

}





@media all and (max-width: 500px) , screen and (max-device-width: 500px) {

	#youmax-stat-holder {
	display:none;
	}

	.youmax-subscribe {
	display:none;
	}

	.youmax-tab {
	width: 42%;
	text-align: center;
	}

}

@media all and (max-width: 350px) , screen and (max-device-width: 350px) {

	.youmax-tab {
	width: 90%;
	text-align: center;
	}

}

	



