---
layout: page
permalink: our-jobs/
title: Our Jobs
---
<div class="subheader no-image jobs-page"> 
	<div class="container custom-container">
    	<h1 class="img-overlay">Openings at Awesome Inc</h1>
    </div>
</div>

<div class="container custom-container">
	<div class="col-md-10 col-md-offset-1 well">
		{% for job in site.data.openings %}
		{% if job.active == true %}
			<div class="row">
				<div class="col-md-9">
					<h5>{{ job.title }}</h5>
					<p>{{ job.description }}</p>
					<span>
						<a href="mailto:{{ job.email }}?subject=I have some questions about {{ job.title }}">Questions? Email {{ job.manager }}: {{ job.email }}.</a>
					</span>
				</div>
				<div class="col-md-3">
					<h3>
						<a type="button" class="btn btn-action btn-large" href="{% if job.apply_url %}{{ job.apply_url }}{% else %}mailto:{{ job.email }}?subject=I'm interested in applying to the {{ job.title }} position at {{ job.team }}{% endif %}">Apply Here</a>
					</h3>
					
				</div>

			</div>
			<hr>
		{% endif %}
		{% endfor %}
	</div>
</div>