---
layout: page
permalink: press/
title: Press
---

<div class="subheader coworking-page small-subheader"> <!-- Need to substitute img -->
	<div class="container custom-container">
    	<h1 class="img-overlay"> Press </h1>
    </div>
</div>

<div class="container custom-container">
	<h2>Read About What's Happening</h2>
	<!--<script language="javascript">
		document.write("<i>Last updated "+document.lastModified+"<i>");
	</script>-->

	{% for member in site.data.press %}

		{% if forloop.first %}<ul>{% endif %}
			<li>{{member.date}} <a href="{{member.link}}">{{member.event}}</a></li>
			<!--
			================================
			Page doesn't exist (was removed)
			================================
			<li>22 March, 2016 <a href="http://www.lex18.com/clip/12306613/awesome-inc-u">Awesome Inc. to launch web developer program in Lexington (Video)</a></li>
			<li>10 December, 2013 <a href="http://www.kyforward.com/our-schools/2013/12/10/hour-of-code-schools-block-out-time-each-day-to-learn-the-language-of-computers/#sthash.kOjo967s.dpuf">Hour of Code: Schools block out time each day to learn the language of computers</a></li>
			<li>11 November, 2013<a href="http://www.kentucky.com/2013/11/11/2924294_tom-eblen-learn-how-to-code-and.html?rh=1">Learn how to code and shape the future</a></li>
			<li>6 June, 2013 <a href="http://www.kentucky.com/2013/06/06/2668544_awesome-inc-to-host-computer-code.html?rh=1">Awesome Inc to host computer code crash courses</a></li>
			-->
		{% if forloop.last %}</ul>{% endif %}

	{% endfor %}


</div>
