---
layout: page
permalink: internships/production-team
title: Video Production Team
---

<div class="subheader internship-page">
	<div class="container">
    	<h1 class="img-overlay">Video Production & Photography Team</h1>
    	<h2>Team Alpha</h2>
    </div>
</div>

<div class="statement">
	<div class="container">
		<p>Want to expand your video production skills? Get hands-on experience creating videos  with the latest technology.  Apply to the Awesome Inc Internship program now! </p>

		<a type="button" class="btn btn-primary btn-action" href="https://docs.google.com/spreadsheet/viewform?usp=sharing_eil&formkey=dDNLRTI0MmcyYWtDSDZNNGZOVERfNUE6MQ#gid=0" target="_blank">Apply!</a>


		<iframe width="560" height="315" src="https://www.youtube.com/embed/Xhs6weqDvfg" frameborder="0" allowfullscreen></iframe>
	</div>
</div>

<!-- Blocks specific to this page -->
{% for member in site.data.production_team %}

<span class="anchor" id="teams"></span>
<section class="{% cycle 'full-width white-bg', 'full-width grey-bg' %}">
	<div class="container clearfluid ">
		<div class="col-md-6 vertical-align">
			<img alt="{{member.image_text}}" src="{{member.image_src}}">
		</div><!-- this is for vertical alignment
		--><div class="col-md-6 vertical-align">
				<h2>{{member.title}}</h2>
				{% if member.description %}
					<p> {{member.description}} </p>
				{% elsif member.list %}
					{% for list_item in member.list %}
						{% if forloop.first %}<ul>{% endif %}
						<li>{{list_item.item}}</li>
						{% if forloop.last %}</ul>{% endif %}
					{% endfor %}
				{% endif %}
		</div>
	</div>
</section>

{% endfor %}

<!-- General TA blocks -->
{% include ta_intern_info.html %}
