---
layout: page
---
<br><br><br>			
			<div id="pop-up">
				<div id="alpha-alumni">

						<br><div class = "row centered"><strong>See the current <a href="/team-alpha">team</a></strong></div><br>

						<h1><strong>Team Alpha Alumni</strong></h1><br>

						<h2>Take a look at people who helped make Awesome inc awesome!</h2><br>



					{% for alum in site.data.alumni %}
					{% if alum.thumbnail != "http://i.imgur.com/sCovnRU.png" and  alum.thumbnail != "http://i.imgur.com/riaT1M8.png" %}

						<div class ="alumni-img">
							{% if alum.wallPhoto == true %}
								<img src = '\assets\img\teamalpha\Team alpha wall photos\{{alum.name | downcase | remove: " " }}_wall.gif' alt="{{alum.name}}">
							{% else %}
								<img src = '{{alum.thumbnail}}' alt="{{alum.name}}">
							{% endif %}
								<div class ="alumni-bio">

								<p>
								<br>
								<h4>Where are you now?</h4>
								{{alum.location}}
		
								<h4>What are you doing?</h4>

								{% for job in alum.work limit:1 %}
								 	{{ job.position}} 

								 	{% if job.company != "" %}
								 	at {{job.company}}
								 	{% endif %}

								 {% endfor %}

								<h4>Favorite memory?</h4>
								{{alum.memory}}
								
								<h4>When were you with us?</h4>
								{{alum.year}}
								
								</p>
								</div>

								
								<h2>{{alum.name}}<br><span class="team">{{alum.team}}</span></h2>
						</div>
					{% endif %}
					{% endfor %}

			</div>
				</div>
					