---
layout: page
permalink: team/
title: Team

--- 

<link rel=StyleSheet href="../assets/css/team.css" type="text/css">

<style>
    {% for member in site.data.team.team %}
        #{{member.name |  replace: ' ', '' }} .staff-picture {
            background-image: url({{member.imgSerious}});
            background-size: 100% 100%; 
        }
        #{{member.name | replace: ' ', '' }}:hover .staff-picture {
            background-image: url({{member.imgGoofy}});
            background-size: 100% 100%;
        }
    {% endfor %}
</style>

 <div class="Team">  
    <div class="subheader"> 
        <div class="container custom-container">
            <h1 class="img-overlay header-overlay">Our Team</h1>
            <h2 class="subtext header-overlay">Who we are and what we do</h2>
        </div>
    </div>
</div>

    <div class= "container" style= "margin-top: 32px;">
        <div class = "row">
            {% for member in site.data.team.team %}
                <div class="col-md-3" id="{{member.name | replace: ' ', '' }}">
                    <div class="panel panel-default team_member">
                        <div class="panel-body">
                            <div class="staff-picture col-xs-12"></div>
                            <h1>{{ member.name }}</h1>
                            <span class="text-muted">{{ member.job }}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    
<script type="text/javascript" src="../assets/js/team.js"></script>
    
