---
layout: page
permalink: workspace/
title: Workspace
excerpt: "A flexible workspace and the ideal venue to host your next professional event."
redirect_from:
  - /rentadesk.html
  - /rentadesk1.html
  - /coworking
  - /coworking/
---

<div class="subheader coworking-page"> <!-- Need to substitute img -->
	<div class="container custom-container">
    	<h1 class="img-overlay"> Workspace </h1>
    	<a href="https://spreadsheets.google.com/spreadsheet/viewform?formkey=dGh0eWtpRkczSEZ0aXBhazV6S0JwV3c6MQ"  class="btn btn-primary btn-action">Become a Member<i class="fa fa-angle-double-right"></i></a>
  </div>
</div>

<div class="container custom-container">
	<h2>Get Your Best Work Done Here</h2>
	<div class="embed-responsive embed-responsive-16by9">
		<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/0YgGYadr7rk" allowfullscreen=""></iframe>
	</div>
	<span class="anchor" id="tour"></span>
	<a class="btn btn-primary btn-action" data-toggle="modal" href="#tour-popup">Schedule a Tour <i class="fa fa-angle-double-right"></i></a>
	{% include schedule_a_tour.html %}
	<h2>Membership Options</h2>

	{% for member in site.data.membership_options %}

	<div class="col-md-4 no-pad-col">
		<div class="{% cycle 'panel panel-danger panel-custom', 'panel panel-danger panel-custom panel-feature' %}">
			<div class="panel-heading center">{{member.title}}</div>
			<img class="center" src="{{member.image_src}}" alt="{{member.image_text}}">
			<ul>
				<li>{{member.list_1}}</li>
				<li>{{member.list_2}}</li>
			</ul>
			<br class="custom-linebreak">
			<a href="{{member.button_link}}"><button class="center btn btn-primary btn-action" class="center btn btn-primary btn-action center">{{member.button_text}}</button></a>
		</div>
	</div>

	{% endfor %}


</div>

<span class="anchor" id="features"></span>
<div class="container custom-container custom-grid">
	<h2>Membership Amenities</h2>

	{% for row in site.data.membership_amenities %}

	<div class="row">

		{% for item in row.contents %}

		<div class="col-md-4">
			<div class="media">
				<div class="media-left media-middle">
					<img src="{{item.image_src}}" class="media-object" alt="{{item.image_text}}">
				</div>
				<div class="media-body media-middle">
					{{item.title}}
				</div>
			</div>
		</div>

		{% endfor %}

	</div>

	{% endfor %}

		

</div> <!-- CONTAINER -->

<span class="anchor" id="rent-space"></span>
<div class="container custom-container rentals">
	<h2>Event Rentals</h2>
	<div class="col-md-6">
		<img src="/assets/img/coworking_photo_1.png" alt="coworking space, awesome inc u meet and greet" />
	</div>
	<div class="col-md-6">
		<img src="/assets/img/coworking_photo_2.png" alt="coworking space, startup weekend lexington mark nager" />
	</div>

	<p><b>Interested in renting space?</b>  See if Awesome Inc is right for your next event!  <a href="mailto:emily@awesomeinc.org?subject=Space Rental">Contact us</a> for more information</p>
</div>

<div class="modal fade" id="tenant" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Member Application</h4>
      </div>
      <div class="modal-body">




        <!--
        Code that is causing bug!
        <p><iframe src="https://docs.google.com/forms/d/1Hcx_w1wjDnPECbfo9hEKBRUXBXAikwN6m2Xk7Oph4hs/viewform" width="540" height="1704" frameborder="0" marginheight="0" marginwidth="0"></iframe></p>
        -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
