<!-- Begin Mailchimp Signup Form -->
<div class="modal fade modal-popup" id="email-popup" tabindex="-1" role="dialog" aria-labelledby="emailLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times</span></button>
                <img src="/assets/img/white_ainc_logo.png" id="emailLabel" alt="Awesome Inc Logo" />
            </div>
            <div class="modal-body">
                <h5>Subscribe to our mailing list</h5>
                <form style="padding:0px" action="https://awesomeinc.us2.list-manage.com/subscribe/post?u=5114422b2183673d50186748d&amp;id=946c001ab3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div class="form-group">
                        <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="Email Address" required>
                        <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME" placeholder="First Name" required>
                        <input type="text" value="" name="LNAME" class="form-control" id="mce-LNAME" placeholder="Last Name" required>
                        <strong>I’m interested in... </strong>
                        <div class="checkbox">
                            <label for="mce-group[49997]-49997-0">
                                <input type="checkbox" value="1" name="group[49997][1]" id="mce-group[49997]-49997-0">Youth Coding Courses
                            </label>
                        </div>
                        <div class="checkbox">
                            <label for="mce-group[49997]-49997-1">
                                <input type="checkbox" value="2" name="group[49997][2]" id="mce-group[49997]-49997-1">Adult Coding Courses
                            </label>
                        </div>
                        <div class="checkbox">
                            <label for="mce-group[49997]-49997-2">
                                <input type="checkbox" value="4" name="group[49997][4]" id="mce-group[49997]-49997-2">Web Developer Bootcamp
                            </label>
                        </div>
                        <div class="checkbox">
                            <label for="mce-group[49997]-49997-3">
                                <input type="checkbox" value="8" name="group[49997][8]" id="mce-group[49997]-49997-3">The Fellowship program
                            </label>
                        </div>
                        <div class="checkbox">
                            <label for="mce-group[49997]-49997-4">
                                <input type="checkbox" value="16" name="group[49997][16]" id="mce-group[49997]-49997-4">Entrepreneurship
                            </label>
                        </div>
                        <div class="checkbox">
                            <label for="mce-group[49997]-49997-5">
                                <input type="checkbox" value="32" name="group[49997][32]" id="mce-group[49997]-49997-5">5 Across Pitch Competition
                            </label>
                        </div>
                        <div class="checkbox">
                            <label for="mce-group[49997]-49997-6">
                                <input type="checkbox" value="64" name="group[49997][64]" id="mce-group[49997]-49997-6">Events at Awesome Inc
                            </label>
                        </div>
                        <div class="checkbox">
                            <label for="mce-group[49997]-49997-7">
                                <input type="checkbox" value="128" name="group[49997][128]" id="mce-group[49997]-49997-7">Workspace Information
                            </label>
                        </div>
                        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                    </div>
                </div>
                <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5114422b2183673d50186748d_946c001ab3" tabindex="-1" value=""></div>
            </form>
            <!-- <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script><script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]="EMAIL";ftypes[0]="email";fnames[1]="FNAME";ftypes[1]="text";fnames[2]="LNAME";ftypes[2]="text";}(jQuery));var $mcj = jQuery.noConflict(true);</script> -->
        </div>
    </div>
</div>
<!--End mc_embed_signup-->