
<!-- Footer Wrap -->
<footer>
	<!-- <div id="f"> -->
		<div class="container">
			<div class="row">
				<div class="col-lg-4">

					<h3>About Awesome Inc</h3>
					<p>We exist to create and grow high tech startups. We do this by hosting community events, leading technology education courses, and offering a shared workspace environment. <br><a href="/culture-book-3.1.pdf" >View Our Culture Book</a></p>

				</div>

				<div class="col-lg-4" id="footer-links">

					<h3>Our Headquarters</h3>
					<p><a href="http://maps.google.com/maps/place?ie=UTF8&q=awesome+inc&fb=1&gl=us&hq=awesome+inc&hnear=Lexington,+KY+40507&cid=8954829338718477855&t=h&z=14" >
						348 E. Main St.<br/>
						Lexington, KY 40507</a><br/>
						<a href="tel:+18599604600">859-960-4600</a><br/>
						<a href="mailto:contact@awesomeinc.org">contact@awesomeinc.org</a><br>
						<b><a href="/parking">Parking</a></b>
					</p>

				</div>
				<div class="col-lg-4">

					<h3>Newsletter</h3>
					<p>Get monthly updates from the Awesome Inc community.</p>

					<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">

					<div id="mc_embed_signup">
					<form style="padding:0px" action="https://awesomeinc.us2.list-manage.com/subscribe/post?u=5114422b2183673d50186748d&amp;id=946c001ab3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
						<input style="margin: auto; width:170px" type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
						<div style="margin-bottom:5px;" class="clear footer-signup">
							<input style="margin: auto;margin-top: 1em; background-color:#d43f3a" onmouseover="this.style.color='rgb(255,155,155)'" onmouseout="this.style.color='white'" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
						</div>
					</form>
					</div>

				</div>
			</div>
			</div><!-- /row -->
		</div><!-- /container -->
	<!-- </div> --><!-- /Footer wrap -->
</footer>

<div class="community-footer">
    <div class="container">
      <div class="row items">
        <div class="col-lg-10 col-lg-offset-1">
        <table class="table">
          <tr>
            <th>
              <img src="/assets/img/ainc_community_logo.png" alt="awesome inc logo"/> Community
            </th>
            <th>
              <img src="/assets/img/ainc_community_logo.png" alt="awesome inc logo"/> About
            </th>
            <th>
              <img src="/assets/img/ainc_community_logo.png" alt="awesome inc logo"/> Workspace
            </th>
          </tr>
          <tr>
            <td><a href="/" >Awesome Inc</a></td>
            <td><a href="/about/#core-values" >Core Values</a></td>
            <td><a href="/internships" >Internships</a></td>
          </tr>
          <tr>
            <td><a href="http://www.apaxsoftware.com/" >APAX Software</a></td>
            <td><a href="http://blog.awesomeinc.org" >Our Blog</a></td>
            <td><a href="/workspace/#tour" >Schedule a Tour</a></td>
          </tr>
          <tr>
            <td><a href="https://www.awesomeincu.com" >Awesome Inc U</a></td>
            <td><a href="/about/#events" >Programs & Events</a></td>
            <td><a href="/workspace">Rent Space</a></td>
          </tr>
          <tr>
            <td><a href="http://fellowship.awesomeinc.org" >Awesome Fellowship</a></td>
            <td><a href="/press" >Press</a></td>
            <td><a href="/parking" >Parking</a></td>
          </tr>
          <tr>
            <td><a href="/our-jobs">Careers</a></td>
            <td><a href="/contact">Contact Us</a></td>
            <td><a href="https://www.google.com/maps/place/348+E+Main+St,+Lexington,+KY+40507/@38.0419107,-84.4933001,17z/data=!4m2!3m1!1s0x884244e844532c33:0xb6919957af36b713" >Map</a></td>
          </tr>
        </table>
        </div> <!-- /col-lg-10 -->
      </div> <!-- /row items -->
    </div> <!-- /container -->

</div>

<div id="sponsors">
	<div class="container">
		<div class="col-md-8 col-md-offset-2">
			<h4 style="color:white;">Sponsors:</h4>
			<a href="https://www.commercelexington.com/" >
				<img class="sponsor_img" src="/assets/img/commerce_lex_footer_logo.png" alt="commerce lexington logo" />
			</a>
			<a href="https://www.apaxsoftware.com/" >
				<img class="sponsor_img" src="/assets/img/apax_footer_logo.png" alt="apax software logo" />
			</a>
			<a href="https://www.windstream.com/">
				<img class="sponsor_img" src="/assets/img/windstream_footer_logo.png" style="height: 35px;" alt="Windstream" />
			</a>
		</div>
	</div>
</div>




	<!-- Google Analytics JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-2028878-9']);
	  _gaq.push(['_setDomainName', 'awesomeinc.org']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
  </body>
</html>
