
<!-- Footer Wrap -->
<footer>
	<!-- <div id="f"> -->
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
				
					<h3>About Awesome Inc</h3>
					<p>We exist to create and grow high tech startups. We do this by hosting community events, leading technology education courses, and offering a shared workspace environment. <br><a href="/culture-book.pdf" >View Our Culture Book</a></p>
		
				</div>
			
				<div class="col-lg-4" id="footer-links">
					
					<h3>Our Headquarters</h3>
					<p><a href="http://maps.google.com/maps/place?ie=UTF8&q=awesome+inc&fb=1&gl=us&hq=awesome+inc&hnear=Lexington,+KY+40507&cid=8954829338718477855&t=h&z=14" >
						348 E. Main St.<br/>
						Lexington, KY 40507</a><br/>
						<a href="tel:+15022099960">502-209-9960</a><br/>
						<a href="mailto:founders@awesomeinc.org">founders@awesomeinc.org</a><br>

						<!-- Parking Modal -->
						<b><a data-toggle="modal" href="#parking">Parking</a></b>
					
							<div class="container">
								<div class="row centered">
	
											  <div class="modal fade" id="parking" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
											    <div class="modal-dialog">
											      <div class="modal-content">
											        <div class="modal-header">
											          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
											          <h4 class="modal-title">Parking</h4>
											        </div>
											        <div class="modal-body">
											          <p>
														  <b>Where you can park:</b><br><br>

														  Check out the <a href="https://maps.google.com/maps/ms?f=q&source=s_q&hl=en&geocode=&ie=UTF8&hq=parking+near+awesome+inc&hnear=&msa=0&msid=114116276748560767348.000478ba713245b668b31&ll=38.041577,-84.492438&spn=0.003333,0.004823&t=h&z=18" ><u>Map of Parking</u></a> near Awesome Inc.<br><br>

														  <b>Park Here:</b><br>

														   Option 1: Behind building at the corner of Main and Midland/E. Vine (formerly People’s Exchange Bank)  <br>Option 2: Lot to the left of Awesome Inc building <br> Option 3: Metered spots behind the building (on Water St.) <br> Option 4:Parking Garage - across the street, under “Main and Vine” apartment/condo complex.<br><br>

														 <b> Do Not Park:</b><br>

														  Outside the retail plaza (in front of garage) <br>Spaces marked for Wells Fargo, Commerce Lexington, Porter Paints or VisitLex<br>
													  
							          
											          </p>
											        </div>
											        <div class="modal-footer">
											          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
											        </div>
											      </div><!-- /.modal-content -->
											    </div><!-- /.modal-dialog -->
											  </div><!-- /.modal -->
		
								</div><!-- /row -->
							</div><!-- /container -->
							<!-- Parking Modal -->
					</p>
			
				</div>
				<div class="col-lg-4">
				
					<h3>Newsletter</h3>
					<p>Get monthly updates from the Awesome Inc community.</p>

					<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">

					<div id="mc_embed_signup">
					<form style="padding:0px" action="//awesomeinc.us2.list-manage.com/subscribe/post?u=5114422b2183673d50186748d&amp;id=de5f188075" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>
						<input style="margin: auto; width:170px" type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
						<div style="margin-bottom:5px;" class="clear footer-signup">
							<input style="margin: auto;margin-top: 1em; background-color:#d43f3a" onmouseover="this.style.color='rgb(255,155,155)'" onmouseout="this.style.color='white'" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
						</div>
					</form>
					</div>
				
				</div>
			</div>
			</div><!-- /row -->
		</div><!-- /container -->
	<!-- </div> --><!-- /Footer wrap -->
</footer>

<div class="community-footer">
    <div class="container">
      <div class="row items">
        <div class="col-lg-10 col-lg-offset-1">
        <table class="table">
          <tr>
            <th>
              <img src="/assets/img/ainc_community_logo.png" alt="awesome inc logo"/> Community
            </th>
            <th>
              <img src="/assets/img/ainc_community_logo.png" alt="awesome inc logo"/> About
            </th>
            <th>
              <img src="/assets/img/ainc_community_logo.png" alt="awesome inc logo"/> Coworking
            </th>
          </tr>
          <tr>
            <td><a href="http://www.awesomeinc.org" >Awesome Inc</a></td>
            <td><a href="http://www.awesomeinc.org/about/#core-values" >Core Values</a></td>
            <td><a href="http://www.awesomeinc.org/internships" >Internships</a></td>
          </tr>
          <tr>
            <td><a href="#" >APAX Software</a></td>
            <td><a href="http://blog.awesomeinc.org" >Our Blog</a></td>
            <td><a href="http://www.awesomeinc.org/coworking/#tour" >Schedule a Tour</a></td>
          </tr>
          <tr>
            <td><a href="http://awesomeincu.com" >Awesome Inc U</a></td>
            <td><a href="http://www.awesomeinc.org/about/#events" >Programs & Events</a></td>
            <td><a href="http://awesomeinc.org" >Rent Space</a></td>
          </tr>
          <tr>
            <td><a href="http://fellowship.awesomeinc.org" >Awesome Fellowship</a></td>
            <td><a href="http://awesomeinc.org/press" >Press</a></td>
            <td><a href="http://awesomeinc.org/parking" >Parking</a></td>
          </tr>
          <tr>
            <td><a href="/our-jobs">Careers</a></td>
            <td><a href="/contact">Contact Us</a></td>
            <td><a href="https://www.google.com/maps/place/348+E+Main+St,+Lexington,+KY+40507/@38.0419107,-84.4933001,17z/data=!4m2!3m1!1s0x884244e844532c33:0xb6919957af36b713" >Map</a></td>
          </tr>
        </table>
        </div> <!-- /col-lg-10 -->
      </div> <!-- /row items -->
    </div> <!-- /container -->

</div>

<div id="sponsors">
	<div class="container">
		<div class="col-md-8 col-md-offset-2">
			<h4 style="color:white;">Sponsors:</h2>
			<a href="http://www.commercelexington.com/" >
				<img class="sponsor_img" src="/assets/img/commerce_lex_footer_logo.png" alt="commerce lexington logo" />
			</a>
			<a href="http://apaxsoftware.com/" >
				<img class="sponsor_img" src="/assets/img/apax_footer_logo.png" alt="apax software logo" />
			</a>
			<a href="mailto:William.dominick@charter.com">
				<img class="sponsor_img" src="/assets/img/twc.png" style="height: 35px;" alt="time warner cable" />
			</a>
		</div>
	</div>
</div>




	<!-- Google Analytics JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-2028878-9']);
	  _gaq.push(['_setDomainName', 'awesomeinc.org']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
  </body>
</html>