<!-- White Wrap Version 2 - Social Icons -->
	<div id="w2">
		<div class="container">
			<div id="social-phrase" class="row centered">
				<h2>Connect with Us.</h2>
				<br>
				<br>
				<div class="col-lg-2 col-lg-offset-2">
					<a href="http://twitter.com/awesome_inc" target="_blank"><i class="icon-twitter"></i></a>
				</div><!-- /col -->
				<div class="col-lg-2">
					<a href="http://facebook.com/awesomeincorporated" target="_blank"><i class="icon-facebook"></i></a>				
				</div><!-- /col -->
				<div class="col-lg-2">
					<a href="http://www.youtube.com/AincTelevision" target="_blank"><i class="icon-youtube"></i></a>
				</div><!-- /col -->
				<div class="col-lg-2">
					<a href="http://www.flickr.com/photos/awesomeinc/" target="_blank"><i class="icon-flickr"></i></a>
				</div><!-- /col -->
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /White Wrap Ver.2 - Social Icons -->