	<div id="social">
		<div class="container">
			<div class="row centered">
				<h2>Connect with Us.</h2>
				<br>
				<br>
				<div class="col-lg-2 col-lg-offset-2">
					<a href="http://twitter.com/awesome_inc" target="_blank"><i class="fa fa-twitter"></i></a>
				</div><!-- /col -->
				<div class="col-lg-2">
					<a href="http://facebook.com/awesomeincorporated" target="_blank"><i class="fa fa-facebook"></i></a>				
				</div><!-- /col -->
				<div class="col-lg-2">
					<a href="http://www.youtube.com/AincTelevision" target="_blank"><i class="fa fa-youtube"></i></a>
				</div><!-- /col -->
				<div class="col-lg-2">
					<a href="http://www.flickr.com/photos/awesomeinc/" target="_blank"><i class="fa fa-flickr"></i></a>
				</div><!-- /col -->
			</div><!-- /row -->
		</div><!-- /container -->
	</div>