<div class="modal fade modal-popup" id="tas-popup" tabindex="-1" role="dialog" aria-labelledby="tourLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times</span></button>
                <img src="/assets/img/white_ainc_logo.png" id="tourLabel" alt="Awesome Inc Logo" />
            </div>
            <div class="modal-body">
                  <h5>Find out more</h5>
                  <div class="form-group">
                        <form method="POST" action="//formspree.io/kyle@awesomeinc.org">

                              <input class="form-control" type="email" id="CustInfo" name="_replyto" placeholder="Your email" /><br>
                              <input class="form-control" type="text" id="CustInfo" name="name" placeholder="Your name"><br>
                              <textarea class="form-control" name="message" id="CustInfo" rows="5" placeholder="Your message"></textarea><br>
                              <input type="text" name="_gotcha" style="display:none">
                              <input type="hidden" name="_subject" value="Team Alpha Services form submission"/>
                              <input type="hidden" name="_next" value="//www.awesomeinc.org/thanks/">
                              <h3>
                              
                              <button type="submit" class ="btn btn-danger btn-large" id ="hide">Send</button>
                              </h3>
                        </form>
                  </div>
            </div>
        </div>
    </div>
</div>
      