---
---
//colors
$color_alto_approx: rgb(222, 222, 222);
$color_cardinal_approx: #c31337;
$color_pumice_approx: rgb(200, 200, 200);
$color_shady_lady_approx: rgb(165, 165, 165);
$color_pippin_approx: rgb(255,222,223);
$color_gray: #CECECE;
$color_light_gray: rgb(236, 236, 236);
$black: black;
$color_silver_chalice_approx: #aaa;

//sizes

$tablet-width: 768px;
$desktop-width: 1024px;
$mobile-width: $tablet-width - 1;

@mixin tablet { /* < 768 */
	@media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
		@content;
	}
}

@mixin mobile { /* 768-1023 */
	@media (max-width: #{$mobile-width}) {
		@content;
	}
}

@mixin desktop { /* > 1024 */
	@media (min-width: #{$desktop-width}) {
		@content;
	}
}

.center {
	text-align: center;
	margin: auto;
	display: block;
}

.container section {
	width: 100%;
    min-height: 100%;
    display:table;
    height:inherit;
    margin-top: 50px;
	img {
		vertical-align: middle;
		display: inline-block;
		/*margin-top: 50px;*/
		width: 80%;
		margin-left: 10%;
	}
	.row {
	    width: 100%;
	    height: 100%;
	    display:table-row;
	}
	.col-left, .col-right {
	    width: 50%;
	    display: table-cell;
	    vertical-align: middle;
	}
}

.Internships {
	#i2 {
		text-align: center;
		h1 {
			font-weight: 600;
			font-size: 30px;
		}
		p {
			font-weight: 400;
		}
	}
	
}

.For {
	section {
		margin-top: 0;
	}
}


.Our {
	margin-top: 50px;
	.container {
		padding-top: 50px;
	}
	legend {
		font-size: 34px;
		font-weight: bold;
		text-align: center;
	}
	h5 {
		font-size: 24px;
	}
	p {
		font-size: 18px;
		margin-bottom: 10px;
	}
	.btn {
		font-size: 22px;
		font-weight: bold;
	}
}











