---
---
//colors
$color_alto_approx: rgb(222, 222, 222);
$color_cardinal_approx: #c31337;
$color_pumice_approx: rgb(200, 200, 200);
$color_shady_lady_approx: rgb(165, 165, 165);
$color_pippin_approx: rgb(255,222,223);
$color_gray: #CECECE;
$color_light_gray: rgb(236, 236, 236);
$black: black;
$color_silver_chalice_approx: #aaa;

//sizes

$tablet-width: 768px;
$desktop-width: 1024px;
$mobile-width: $tablet-width - 1;

@mixin tablet { /* < 768 */
	@media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
		@content;
	}
}

@mixin mobile { /* 768-1023 */
	@media (max-width: #{$mobile-width}) {
		@content;
	}
}

@mixin desktop { /* > 1024 */
	@media (min-width: #{$desktop-width}) {
		@content;
	}
}

.center {
	text-align: center;
	margin: auto;
	display: block;
}

.statement {
	background-color: #bfbfbf;
	p { 
		font-family: 'open sans';
		font-style: normal;
		font-weight: 600;
		color: black;
		font-size: 23px;
		line-height: 26px;
		margin: 25px 100px 25px 100px;
	}
	h2 {
		padding-top: 25px;
		margin-top: 0px;
		font-style: italic;
		font-weight: bold;
		color: rgb(207, 53, 59);
		font-family: 'open sans';
		text-align: center;
		font-size: 23px;
	}
	@include mobile {
		p { 
			font-size: 15px;
			line-height: 16px;
			margin: 10px 10px 10px 10px;
			width: 225px;
		}
		h2 {
			font-size: 23px;
		}
	}
}

/* =============================================
				Index Page
============================================= */



#features {
	.feature-img {
		margin-top: 20px;
		margin-right: auto;
		margin-left: auto;
		width: 180px;
		height: 180px;
		background-size: cover;
	}
	@include desktop {
	    h2 {
			color: #313131;
			text-align: center;
			font-size: 25px;
			font-weight: 700;
			line-height: 22px;
			font-family: "Open Sans";
			margin-bottom: 15px;
	    }
	    p {
			font-size: 18px;
			text-align: center;
			font-family: "open sans";
			font-weight: 400;
	    }
	}

	@include tablet {
	    h2 {
			font-size: 20px;
			line-height: 22px;
	    }
	    p {
			font-size: 13px;
	    }
	  	.feature-img {
			width: 100px;
			height: 100px;
	  	}
	}

	@include mobile {
	    h2 {
			font-size: 15px;
			line-height: 16px;
	    }
	    p {
			font-size: 10px;
			line-height: 12px;
	    }
		.feature-img {
			width: 80px;
			height: 80px;
		}
	}

	.feature-img-left {
		background-image: url("/assets/img/Homepage_Icons/Icon_For-Entrepreneurs.png");
		&:hover {
			background-image: url("/assets/img/Homepage_Icons/Icon_For-Entrepreneurs_Red.png");
		}
	}

	.feature-img-center {
		background-image: url("/assets/img/Homepage_Icons/Icon_Coworking.png");
		&:hover {
			background-image: url("/assets/img/Homepage_Icons/Icon_Coworking_Red.png");
		}
	}

	.feature-img-right {
		background-image: url("/assets/img/Homepage_Icons/Icon_LTC.png");
		&:hover {
			background-image: url("/assets/img/Homepage_Icons/Icon_LTC_Red.png");
		}
	}
}

/* =============================================
				Section for pages
=============================================  */
.container section {
	width: 100%;
    min-height: 100%;
    display:table;
    height:inherit;
    margin-top: 50px;
	img {
		vertical-align: middle;
		display: inline-block;
		/*margin-top: 50px;*/
		width: 80%;
		margin-left: 10%;
	}
	.row {
	    width: 100%;
	    height: 100%;
	    display:table-row;
	}
	.col-left, .col-right {
	    width: 50%;
	    display: table-cell;
	    vertical-align: middle;
	}
}

/* =============================================
					About
================================================ */
.About {
	
	#core-values {
		h2 {
			padding-top: 50px;
			font-family: 'open sans';
			font-size: 45px;
			color: #2e2e2e;
			font-weight: 700;
			padding-left: 30px;
		}
		img {
			width: 95%;
			box-shadow: 5px 5px 5px #2e2e2e;
			margin-bottom: 35px;
		}
		@include mobile {
			img {
				padding-right: 0;
				box-shadow: 10px 10px 5px #2f2f2f;
				margin-bottom: 10px;
			}
		}
	#culture-book {
		@include mobile {
			h2 {
				font-size: 22px;
			}
		}
	}
	#r2 h3, #c2 h3 {
		text-align: center;
	}
	#c2 h3 {
		margin-top: 30px;
	}
	#r2 a, #c2 a {
		font-size: 20px;
	}
}


@include mobile {
	

	
	#r2 p , #Wthrough p{
		font-size: 15px;
	}
	#r2 a, #c2 a {
		font-size: 10px;
	}
	#r2 img {
		width: 80%;
		height: 80%;
	}
}

#cv {
	margin-top: 0px;
	background-color: white;
}

h2.core-value {
	font-family: 'open sans';
	font-size:45px;
	color: #2e2e2e;
	font-weight: 700;
	margin-top: 0px;
	padding-left: 30px;
}



.cv-img-offset2 {
	margin-right:0px;
}

}

/* =============================================
				Internships
================================================ */
.Internships {
	img {
		width: 80%;
		margin-left: 10%;
	}
}

/* =============================================
				For Entrepreneurs
================================================ */
.For {
	section {
		margin-top: 0;
	}
}

/* =============================================
					Our Jobs
================================================ */
.Our {
	margin-top: 50px;
	.container {
		padding-top: 50px;
	}
	legend {
		font-size: 34px;
		font-weight: bold;
		text-align: center;
	}
	h5 {
		font-size: 24px;
	}
	p {
		font-size: 18px;
		margin-bottom: 10px;
	}
	.btn {
		font-size: 22px;
		font-weight: bold;
	}
}

/* =============================================
					CALENDAR
================================================ */

#calendar {
	h2 {
		color:black;
		font-family: "open sans";
		font-weight: 600;
		text-align: center;
	}

	h1 {
		text-align: center;
	}

	@include desktop {
		margin: auto;
		width: 80%;
	}	

	@include tablet {
		margin: auto;
		width: 70%;
	}
}


/* =============================================
				SOCIAL SECTION
================================================ */

#social {
	background: #ffffff;
	padding-bottom: 50px;
	i {
		font-size: 70px;
		color: #2f2f2f;
		padding-bottom: 30px;
		&:hover {
			color: #EE2524
		}
	}
	h2 {
		color: #2f2f2f;
	}
}

/* =============================================
					FOOTER
================================================ */

footer {
	@media (min-width: 700px) 
	  {
	    background: url("../img/map.png") repeat;
	    padding-top: 20px;
	    padding-bottom: 20px;
	  }



	  h3 {
	    color: black;
	    font-weight: bold;
	    font-size: 30px;
	  }
	  p {
	    color: black;
	    font-size: 17px;
	    line-height: 20px;
	    margin-bottom: 0;
	  }


	#footer-links {
	  p a {
	    color: black;
	    word-wrap: break-word;
	    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
	    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
	    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
	    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
	    transition: color 0.1s ease-in, background 0.1s ease-in;
	  }
	  a:hover {
	    color: #D80000;
	    text-decoration: none;
	    outline: 0;
	  }
	}

	/* Map Wrap */

	#map {
	  width: 100%;
	}

	.fellowship-content {
	  font-weight: 200;
	  font-size: 20px;
	  line-height: 33px;
	  color: white;
	  margin: 15px;
	  text-decoration: underline;
	}

	#fellowship-list {
	  font-weight: 200;
	  font-size: 20px;
	  line-height: 33px;
	  color: white;
	  margin: 15px;
	  text-decoration: underline;
	  margin: auto;
	  margin-top: -10px;
	  width: 35em;
	  ul {
	    margin-left: 1em;
	  }
	  li {
	    float: left;
	  }
	}

		b.fellowship-content {
			float: left;
			width: 100%;
			font-size: 1.2em;
			font-weight: bold;
			text-decoration: none;
			margin-top: 1em;
		}
}






