
.svg-container{
width: 100%;
margin-top: 10%; 

}



#two_0{
  visibility: hidden;
  opacity: 0;
}


#two_0.show{

    visibility: visible;
    opacity: 1;
    
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in; 
    -o-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in; 
    transition: all 0.5s ease-in; 

}
#two_0.hide{

    visibility: hidden;
    opacity: 0;
    
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in; 
    -o-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in; 
    transition: all 0.5s ease-in; 

}



.content1,.content2,.content3, .content4,.content5,.content6 {
  visibility: hidden;
  opacity: 0;
}

.entry_points, .preseed_funding, .accelerators, .angel_investors, .tech_resources, .venture_capital { 
    
    cursor: pointer;    
 
    position: absolute;
    
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in; 
    -o-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in; 
    transition: all 0.5s ease-in; 
   
}

/*.content1 {

    
    position: absolute;
    
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in; 
    -o-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in; 
    transition: all 0.5s ease-in; 
 
}
*/
/*.entry_points:hover .content1 {
    
    visibility: visible;
    opacity: 100;
    
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in; 
    -o-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in; 
    transition: all 0.5s ease-in; 
}
*/

#content_text1, #content_text2, #content_text3, #content_text4, #content_text5, #content_text6{

    position: absolute;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in; 
    -o-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in; 
    transition: all 0.5s ease-in; 


}


#content_box1, #content_box2, #content_box3, #content_box4, #content_box5, #content_box6{

    position: absolute;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in; 
    -o-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in; 
    transition: all 0.5s ease-in; 


}


#content_text1.show{

    visibility: visible;
    opacity: 1;
    
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in; 
    -o-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in; 
    transition: all 0.5s ease-in; 

}

#content_box1.showbox{

    visibility: visible;
    opacity: 1;
    
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in; 
    -o-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in; 
    transition: all 0.5s ease-in; 
}

#content_text2.show2{

    visibility: visible;
    opacity: 1;
    
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in; 
    -o-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in; 
    transition: all 0.5s ease-in; 

}

#content_box2.showbox2{

    visibility: visible;
    opacity: 1;
    
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in; 
    -o-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in; 
    transition: all 0.5s ease-in; 
}
#content_text3.show3{

    visibility: visible;
    opacity: 1;
    
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in; 
    -o-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in; 
    transition: all 0.5s ease-in; 

}

#content_box3.showbox3{

    visibility: visible;
    opacity: 1;
    
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in; 
    -o-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in; 
    transition: all 0.5s ease-in; 
}
#content_text4.show4{

    visibility: visible;
    opacity: 1;
    
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in; 
    -o-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in; 
    transition: all 0.5s ease-in; 

}

#content_box4.showbox4{

    visibility: visible;
    opacity: 1;
    
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in; 
    -o-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in; 
    transition: all 0.5s ease-in; 
}
#content_text5.show5{

    visibility: visible;
    opacity: 1;
    
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in; 
    -o-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in; 
    transition: all 0.5s ease-in; 

}

#content_box5.showbox5{

    visibility: visible;
    opacity: 1;
    
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in; 
    -o-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in; 
    transition: all 0.5s ease-in; 
}
#content_text6.show6{

    visibility: visible;
    opacity: 1;
    
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in; 
    -o-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in; 
    transition: all 0.5s ease-in; 

}

#content_box6.showbox6{

    visibility: visible;
    opacity: 1;
    
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in; 
    -o-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in; 
    transition: all 0.5s ease-in; 
}





