

.entry_points { 
    

    cursor: pointer;    
 
    position: absolute;
    
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in; 
    -o-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in; 
    transition: all 0.5s ease-in; 
    

    
}



.content1 {

    
    position: absolute;
    
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in; 
    -o-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in; 
    transition: all 0.5s ease-in; 
 
}


.entry_points:hover .content1 {
    
    opacity: 100;
    
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in; 
    -o-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in; 
    transition: all 0.5s ease-in; 
}


.entry_points:hover .content1 div:nth-child(2) {
    
    -webkit-animation-name: your_custom_animation;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 4;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-in;
    
    -moz-animation-name: your_custom_animation;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: 4;
    -moz-animation-direction: alternate;
    -moz-animation-timing-function: ease-in;
    
    -ms-animation-name: your_custom_animation;
    -ms-animation-duration: 2s;
    -ms-animation-iteration-count: 4;
    -ms-animation-direction: alternate;
    -ms-animation-timing-function: ease-in;
    
}



.svg-container{

margin-top: 10%; 

}
/*
@keyframes testfadeIn {
  from     {opacity: 0}
  to  {opacity: 1}
}

@keyframes testfadeOut {
  from     {opacity: 1}
  to  {opacity: 0}

}*/

/*#kstc_logo:hover + #sometext {
    visibility: hidden;
}*/

/*@keyframes textrect {
  0%        {opacity: 0}
  15%, 70%  {opacity: 1}
  85%, 100% {opacity: 0}
}*/





.content1,.content2,.content3, .content4,.content5,.content6 {
  opacity: 0;
}