/*
 * Author: Carlos Alvarez
 * URL: http://alvarez.is
 *
 * Project Name: 
 * Version: 1.0
 * URL: http://alvarez.is
 */

/* Custom Font-Styles */
@font-face { font-family: Exo-Bold; src: url('font/Exo-Bold.ttf'); }

body {
  	background-color: white;
    font-family: "open sans";
    font-weight: 300;
    font-size: 16px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: "open sans";
    font-size: 35px;
    font-weight: 300;
    color: #333;
}


/* Paragraph & Typographic */
p {
	font-size: 20px;
    line-height: 33px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

.goleft {
	text-align: left;
}

.goright {
	text-align: right;
}

/* Links */
a {
    color: #f85c37;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/* BOOTSTRAP CHANGES */

/* Button Theme Configuration */

.btn {
  border-radius: 0px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 100;
}
.btn-theme {
  color: white;
  background-color: transparent;
  border-color: white;
  padding-right: 10px;
  padding-left: 10px;
}

.btn-theme:hover {
	color: #2f2f2f;
	background-color: white;
}


/* Modal Configuration */

.modal-header {
	background: #1abc9c;
}

.modal-header h4 {
	color: white;
}

.modal-footer {
	background: #2b2b2b;
}

/* Navbar Modification */

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: #ffffff;
background-color: #2c3e50;
}

.right-nav {
	float: right;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #2c3e50;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
color: #ffffff;
text-decoration: none;
background-color: #2c3e50;
outline: 0;
}

/* Form Modifications */

.form-control {
	border-radius: 0px;
	padding: 10px 18px;
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	color: #2f2f2f;
	font-weight: 100;
}

input {
	padding: 10px 18px;
}

label {
	font-weight: 500;
	font-family: 'Raleway', sans-serif;
}

input[type="submit"] {
	border: 0px;
	margin-top: 1em;
}
/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
	background: url(../img/header-bg.jpg) no-repeat center top;
	margin-top: 50px;
	padding-top:20px;
	background-attachment: relative;
	background-position: center center;
	min-height: 500px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* David changed from White to Ainc Gray */
#headerwrap h1 {
	margin-top: 70px;
	color: 333333;
	font-size: 55px;
	font-weight: 100;
	letter-spacing: 2px;
	text-align: left;
}

#headerwrap2 {
	background: url(../img/header-bg2.jpg) no-repeat center top;
	margin-top: 50px;
	padding-top:20px;
	background-attachment: relative;
	background-position: center center;
	min-height: 500px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap2 h1 {
	margin-top: 150px;
	color: white;
	font-size: 55px;
	font-weight: 100;
	letter-spacing: 2px;
}

/* About Wrap */


#about {
	background: url(../img/about-bg.jpg) no-repeat center top;
	padding-top:20px;
	background-attachment: relative;
	background-position: center center;
	min-height: 450px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#about h1 {
	margin-top: 150px;
	color: white;
	font-size: 55px;
	font-weight: 100;
	letter-spacing: 2px;
}

/* What's awesome this week videos */

    <style type="text/css">
#player {
    width: 435px;
    height: 300px;
    overflow: hidden;
    background: gray;
    position: absolute;
    border: solid 2px gray;
}

.youtube .carousel {
    width: 20%;
    height: 100%;
    overflow: auto;
    position: absolute;
    right: 0px;
    z-index: 3;
}

.youtube .thumbnail {
    margin: 2px;
    width: 80%;
    border: 1px solid black;  
}

.youtube iframe.player {
    width: 80%;
    height: 300px;  
    overflow: auto;
    border: 0;
}
        </style>

.video {
	padding-top: 75px;
}

/* Services Wrap */

#services {
	background: url(../img/services-bg.jpg) no-repeat center top;
	padding-top:20px;
	background-attachment: relative;
	background-position: center center;
	min-height: 450px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



/* Changed to Ainc Gray*/
#y {
	padding-top: 50px;
	padding-bottom: 20px;
	background-color: white;
}

#y .glyphicon {
	font-size: 60px;
	color: white;
}

#y h3 {
	color: #2e2e2e;
	font-family: "open sans";
	font-weight: bold;
}

#y p {
	font-weight: 500;
	color: #2e2e2e;
}

#cv {
	padding-top: 50px;
	padding-bottom: 50px;
}

#cv .glyphicon {
	font-size: 60px;
	color: white;
}

#cv h3 {
	color: white;
}

#cv p {
	font-weight: 500;
	color: white;
}

/* Dark Blue Wrap change by David to Ainc Red */
#db {
	background: #333333;
	padding-top: 50px;
	padding-bottom: 50px;
}

#db h2 {
	color: white;
}

#db h3 {
	color: white;
}


#db p {
	color: white;
}

#db .col-lg-2 {
	padding-left: 0px;
	padding-right: 0px;
}

/* White Wrap - Version 1 */

#w1 {
	background: #ffffff;
	padding-top: 50px;
	padding-bottom: 0px;
}


#w1 i {
	font-size: 70px;
	color: #2f2f2f;
	padding-bottom: 30px;
	padding-left: 23px;
	padding-right: 23px;
}

#w1 i:hover {
	color: #f1c40f
}


#w1 h1 {
	font-size: 90px;
}

#w1 h2 {
	color: #2f2f2f;
}

/* White Wrap - Version 2 */

#w2 {
	background: #ffffff;
	padding-bottom: 50px;
}

#w2 i {
	font-size: 70px;
	color: #2f2f2f;
	padding-bottom: 30px;
}

#w2 i:hover {
	color: #EE2524
}

#w2 h2 {
	color: #2f2f2f;
}


/* Footer Wrap */

@media(min-width: 700px) {
	#f {
		background:url("../img/map.png") no-repeat;
		padding-top: 50px;
		padding-bottom: 50px;
	}
}

#f h3 {
	color: black;
	font-weight: bold;
	font-size: 30px;
}

#f p {
	color: black;
	font-size: 17px;
	line-height: 20px;
}

#foot-btn {
	margin-bottom: 17px;
}

#footer-links p a {
	color: black;
	word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

#footer-links a:hover {
	color: #D80000;
	text-decoration: none;
	outline: 0;
}

/* Map Wrap */

#map {
	width: 100%
}

.fellowship-content, #fellowship-list {
	font-weight: 200;
	font-size: 20px;
	line-height: 33px;
	color: white;
	margin: 15px;
	text-decoration: underline;
}

#fellowship-list {
	margin: auto;
	margin-top: -10px;
	width: 35em;
}

#fellowship-list ul {
	margin-left: 1em;
}

#fellowship-list li {
	float: left;
}

b.fellowship-content {
	float: left;
	width: 100%;
	font-size: 1.2em;
	font-weight: bold;
	text-decoration: none;
	margin-top: 1em;
}

/* Copyright */

#c {
	background: #2f2f2f;
	padding-top: 15px;
}

#c p {
	color: white;
	font-size: 14px;
}


/* ==========================================================================
   Blog Configuration
   ========================================================================== */


/* Blog Page Zones & Conf*/

.main-blog {
	padding-top: 90px;
}

.blog-date {
	display: block;
	padding-top: 40px;
}

.blog-date p {
	text-align: right;
	margin-right: 10px;
	font-size: 13px;
	letter-spacing: 1px;
}

.blog-date h6 {
	font-weight: 800;
	text-align: right;
	margin-right: 10px;
	letter-spacing: 1px;
}

.blog-title {
	padding-top: 40px;
	margin-bottom: 20px;
}

.blog-title h2 {
	margin-top: 0px;
	font-size: 40px;
	line-height: 50px;
	letter-spacing: 3px;
	text-align: left;
	font-weight: 400;
	margin-left: 5px;
}

.blog-post {
	text-align: left;
	margin-right: 0px;
	font-size: 16px;
}

.blog-post h2 {
	margin-top: 0px;
	font-size: 40px;
	line-height: 50px;
	letter-spacing: 3px;
	text-align: left;
	font-weight: 400;
	width: 100%;
	padding-top: 40px;
	margin-bottom: 20px;
}


.blog-post em {
	text-align: left;
	font-size: 22px;
	color: #767676;	
}

.blog-post i {
	letter-spacing: 10px;
}

.blog-post p {
	margin-bottom: 20px;
}

.blog-post blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 4px solid #f1c40f;
  color: #a7a7a7;
  font-size: 19px;
}

.blog-post tag {
	color: #a7a7a7;
	font-size: 14px;
	letter-spacing: 2px;
}

.blog-post h4 {
	margin-top: 0px;
	font-size: 19px;
	line-height: 30px;
	letter-spacing: 1px;
	text-align: left;
	font-weight: 700;
}

/* ========== SIDEBAR CONF ========== */

.sidebar-zone {
	padding-top: 40px;
	padding-bottom: 120px;
	margin-bottom: 0px;
}

.sidebar-zone i {
	vertical-align: middle;
}

.sidebar-zone h4 {
	font-weight: 500;
}

.sidebar-zone p {
	font-size: 14px;
}

.sidebar-zone h6 {
	font-weight: 700;
}

.popular-posts { 
	margin: 0px;
	padding-left: 0px;
	}
	
.popular-posts li {
	list-style: none; 
	margin-bottom: 20px; 
	min-height: 70px;
}
.popular-posts li a, 
.popular-posts li a:hover {
	color:#2f2f2f; 
	text-decoration: none;
	}
	
.popular-posts li img {
	float: left; 
	margin-right: 20px;
	}
	
.popular-posts li em {
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
	}

p > tag {
	color:#b1b1b1;
	font-size: 12px;
	font-weight: 500;
}





/* ==========================================================================
   Image Mask
   ========================================================================== */

.grid figure {
	margin: 0;
	position: relative;
}

.grid figure img {
	width: 100%;
	display: block;
	position: relative;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	color: #fff;
	background: #2c3e50;
	font-weight: 700;
}

.grid figcaption h5 {
	margin: 0;
	padding-top: 0px;
	padding-left: 10px;
	padding-bottom: 5px;
	color: #fff;
	text-align: left;
	letter-spacing: 1px;
	
}

.grid figcaption a {
	text-align: left;
	padding: 5px 10px;
	margin-left: 20px;
	display: inline-block;
	background: transparent;
	color: #fff;
	font-size: 13px;
	font-weight: 700;
}

/* Caption Style */
.mask figure {
	overflow: hidden;
}

.mask figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.no-touch .mask figure:hover img,
.mask figure.cs-hover img {
	-webkit-transform: translateY(-30px);
	-moz-transform: translateY(-30px);
	-ms-transform: translateY(-30px);
	transform: translateY(-30px);
}

.mask figcaption {
	height: 50px;
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .mask figure:hover figcaption,
.mask figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}

.mask figcaption a {
	position: absolute;
	top:10px;
	bottom: 10px;
	right: 30px;
}

/* ==========================================================================
   Pricing Tables
   ========================================================================== */
   
.pricing-option {
    padding-bottom: 40px;
}

.pricing-option .pricing-top {
    position: relative;
    background: #222;
    color: white;
    text-align: center;
    font-weight: bold;

    padding: 40px 20px 30px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.pricing-option .pricing-top .special-label {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #f1c40f;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    padding: 3px 0;
}

.special .pricing-top {
    background: black;
}

.pricing-option .pricing-edition {
    text-transform: uppercase;
    display: block;
    font-size: 25px;
    letter-spacing: 8px;
}

.pricing-option .price {
    display: inline-block;
    position: relative;
}

.pricing-option .price sup {
    position: absolute;
    top: 50px;
    left: -10px;
    font-size: 24px;
}

.pricing-option .price .price-amount {
    font-size: 108px;
    letter-spacing: -4px;
}

.pricing-option .price small {
    position: relative;
    left: -10px;
    font-size: 18px;
}

.pricing-option ul {
    list-style: none;
    margin: 0;
    background: #eee;
    text-align: center;
    padding-left: 0px;
}

.pricing-option ul li {
    border-bottom: solid 1px #e1e1e1;
    padding-top: 20px;
    padding-bottom: 20px;
}

.pricing-option .pricing-signup {
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 10px;
    color: white;
    background: #f1c40f;
}

.pricing-option .pricing-signup:hover {
    background: #f39c12;
}

/*  --- new ---- */
#sponsor_text {
	display: inline-block;
	margin: 0 10px 0 0;
}
.sponsor_img {
	opacity: 0.7;
	height: 50px;
	margin: 0 10px;
}

::-webkit-scrollbar {
  background-color: rgba(120,120,120,0.2);
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.6);
  border-radius: 5px;
}

.company-port {
	width: 195px;
	height: 195px;
	margin: 7px;
}

.company-port img {
	position: absolute;
	max-height: 100%;
	max-width: 100%;
}

.company-port:hover {
	border: 1px solid #d9534f;
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.05),0 0 10px #d9534f;
}

.company-bio {
	background-color: rgba(210,50,45,0.8);
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	overflow: auto;
}

.company-bio p {
	margin: 0;
	font-size: 1.1em;
}

@media (max-width: 700px) {
	div#calendar {
		margin: auto;
		width: 50%;
	}	
}

@media (min-width: 700px) {
	div#calendar {
		margin: auto;
		width: 900px;
	}
}

@media (max-width: 700px) {
	#mobile-portfolio {
		display: none;
	}
	.company-port {
		margin: auto;
	}
}

div.shadow {
	float:left;
	position: relative;
	height: 245px;
	width: 300px;
	margin: 20px;
	border: 1px solid #ccc;
	padding: 10px;
	background: #777777;
	}

@media (max-width: 700px) {
	div.shadow {
		width: 100%;
		margin: 0;
		margin-bottom: 10px;
	}

	div #left-content {
		margin-top: 1.5em;
	}
	#y {
		height: 850px;
	}
}

@media (min-width: 1200px) {
	div #top-div-mid{
		left: 7%;
	}

	div #top-div-right{
		float: right;
	}
}

.subtitle {
	font-family: "open sans";
	font-size: 45px;
	color: #333;
	margin-top: 0px;
	font-weight: 400;
}

div.shadow:hover {
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	background-color: #EE2524;
	}
	
/*for the subpage layout*/
.subheader {
	width: 100%;
	height: 300px;
	border-bottom: 25px rgb(207, 53, 59);
}



.temp-div {
	height:35px; 
	width:100%; 
	background-color:rgb(207, 53, 59);
}

/*for the entrep page*/



#fellowship h2, #across h2, #cherub h2, #startup h2, #hof h2 {
	color: #2e2e2e;
	font-weight: 700;
}

#fellowship p, #across p, #cherub p, #startup p, #hof p {
	font-weight: 500;
	text-align: justify;
}

#fellowship a, #across a, #cherub a, #startup a, #hof a {
	font-weight: 500;
	font-family: "open sans";
	border-radius: 4px;

}

#fellowship, #hof {
	background-color: #e2e2e2;
}

@media (max-width: 1800px) {
	#fellowship h2, #across h2, #cherub h2, #startup h2, #hof h2 {
		font-size: 32px;
	}
	#hof h2 { font-size: 40px;}

	#fellowship p, #across p, #cherub p, #startup p, #hof p {
		font-weight: 500;
		word-spacing: 4px;
		font-size: 16px;
	}

	#across p {
		font-size: 22px;
		line-height: 40px;
	}

	.fell-img {
		padding-top: 25px;
	}

	#fellowship a, #across a, #cherub a, #startup a, #hof a {
		font-size: 32px;
		font-weight: 400;
		font-family: "open sans";
		border-radius: 4px;
		margin-bottom: 20px;
	}
	#fellowship {
		word-spacing: 8px;
	}

	#fellowship h3 {
		text-align: center;
	}

	#fellowship img {
		width: 100%;
		height: 100%;
	}
}

@media (max-width: 1000px) {
	#fellowship h2, #across h2, #cherub h2, #startup h2, #hof h2 {
		color: #2e2e2e;
		font-weight: 700;
		font-size: 25px;
	}

	#fellowship p, #across p, #cherub p, #startup p, #hof p {
		font-weight: 500;
		font-size: 18px;
		word-spacing: 4px;
		line-height: 19px;
	}

	#fellowship a, #across a, #cherub a, #startup a, #hof a {
		font-size: 18px;
		font-weight: 400;
		margin-bottom: 20px;
	}

	#fellowship h3 {text-align: center}
}
@media (max-width: 700px) {
	#fellowship h2, #across h2, #cherub h2, #startup h2, #hof h2 {
		font-weight: 700;
		font-size: 20px;
	}

	#fellowship p, #across p, #cherub p, #startup p, #hof p {
		font-weight: 500;
		font-size: 15px;
		word-spacing: 4px;
		line-height: 16px;
	}

	#fellowship a, #across a, #cherub a, #startup a, #hof a {
		font-size: 18px;
		font-weight: 400;
		margin-bottom: 20px;
	}

	#fellowship h3 {text-align: center}
}

@media (max-width: 400px) {
	#fellowship h2, #across h2, #cherub h2, #startup h2, #hof h2 {
		font-weight: 700;
		font-size: 15px;
	}

	#startup img {
		padding-top: 20%;
	}

	#fellowship p, #across p, #cherub p, #startup p, #hof p {
		font-weight: 500;
		font-size: 10px;
		word-spacing: 4px;
		line-height: 11px;
	}

	#fellowship a, #across a, #cherub a, #startup a, #hof a {
		font-size: 13px;
		font-weight: 400;
		margin-bottom: 20px;
	}

	#fellowship h3 {text-align: center}
}


#across img {
	margin: 35px 0 15px 0;
	width: 100%;
	height: 100%;
}

#across a {
	border-color: inherit;
}

@media (max-width: 1800px) {

	#across img {
		margin: 35px 0 15px 0;
		width: 100%;
		height: 100%;
	}

	#across a {
		font-size: 24px;
	}
}

@media (max-width: 1000px) {

	#across img {
		margin: 35px 0 15px 0;
		width: 100%;
		height: 100%;
	}

	#across a {
		font-size: 14px;
	}
}

@media (max-width: 700px) {
	#across h2 {
		font-size: 25px;
	}

	#across p {
		font-size: 15px;
		line-height: 20px;
	}

	#across img {
		margin: 35px 0 15px 0;
		width: 100%;
		height: 100%;
	}

	#across a {
		font-size: 16px;
	}
}

@media (max-width: 400px) {
	#across h2 {
		font-size: 17px;
	}

	#across p {
		font-size: 12px;
		line-height: 20px;
	}

	#across img {
		margin: 35px 0 15px 0;
		width: 100%;
		height: 100%;
	}

	#across a {
		font-size: 9px;
	}
}

.across-pitch {
	background-color: green;
}

.across-register {
	background-color: blue;
}

#cherub {
	background-color: rgb(255, 222, 223);
}

#cherub img, #hof img {
	width: 80%;
	height: 175px;
	padding-left: 10%;
}

#cherub a,  {
	padding: 6px 30%;
	margin-bottom: 25px;
}

#cherub h3 {
	text-align: center;
}

@media (max-width: 1800px) {
	#cherub p {
		font-size: 20px;
		line-height: 36px;
		word-spacing: 7px;
	}
	#cherub a {
		font-size: 30px;
	}
}

@media (max-width: 1000px) {
	#cherub p {
		line-height: 22px;
		word-spacing: 3px;
	}
	#cherub a {
		font-size: 22px;
	}
	#cherub img {
		height: 125px;
	}
}

@media (max-width: 700px) {
	#cherub p {
		font-size: 15px;
		line-height: 17px;
		word-spacing: 3px;
	}
	#cherub h2 {
		font-size: 20px;
	}
	#cherub a {
		font-size: 16px;
		padding: 6px 10%;
	}
	#cherub img {
		height: 80px;
	}
}

@media (max-width: 400px) {
	#cherub p {
		font-size: 9px;
		line-height: 10px;
	}
	#cherub h2 {
		font-size: 12px;
	}
	#cherub a {
		font-size: 9px;
	}
}

#startup img {
	margin: 5%;
	width: 100%;
	height: 100%;
}

#startup h3, #startup h2, #hof h2, #hof h3 {
	text-align: center;
}

#startup p {
	margin: 5%;
}

@media (max-width: 1800px) {
	#startup p {
		font-size: 16px;
		line-height: 36px;
		word-spacing: 7px;
	}
	#startup a {
		font-size: 30px;
	}
}

@media (max-width: 1000px) {
	#startup p {
		font-size: 16px;
		line-height: 29px;
		word-spacing: 3px;
	}
	#startup a {
		font-size: 22px;
	}
}

@media (max-width: 700px) {
	#startup p {
		font-size: 15px;
		line-height: 17px;
		word-spacing: 3px;
	}
	#startup h2 {
		font-size: 20px;
	}
	#startup a {
		font-size: 16px;
		padding: 6px 10%;
	}
}

@media (max-width: 400px) {
	#startup p {
		font-size: 9px;
		line-height: 10px;
	}
	#startup h2 {
		font-size: 12px;
	}
	#startup a {
		font-size: 9px;
	}
}



#hof a { padding: 6px 10%;}

#calendar h2 {
	color:black;
	font-family: "open sans";
	font-weight: 600;
	text-align: center;
}

/*end of entrep page */


/*for the coworking page */

div.coworking-page, div.entrep-page, div.internship-page, div.about-page  {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
}

div.coworking-page { background-image: url("/assets/img/coworking-head.jpg") }

div.entrep-page { background-image: url("/assets/img/entrep-head.jpg") }

div.internship-page { background-image: url("/assets/img/internships-head.jpg") }

div.about-page { background-image: url("/assets/img/aboutpage-small.jpg") }

.img-overlay {
	color: white;
	padding: 170px 0 40px 0;
	font-family: 'open sans';
	font-weight: 800;
	font-size: 80px;
	font-style: shadow;
	text-shadow: 1px 3px rgba(0,0,0, 0.5);
}

@media screen and (max-width: 1000px) {
	.img-overlay {
		font-size: 60px;
	}
}
@media screen and (max-width: 700px) {
	.img-overlay {
		font-size: 40px;
	}
}
@media screen and (max-width: 480px) {
	.img-overlay {
		font-size: 20px;
	}
}


@media screen and (max-width: 1800px) {
	#a2 p 
	{ 
		font-size: 23px;
		line-height: 26px;
		margin: 25px 100px 25px 100px;
	}
	#a2 h2 {
		font-size: 23px;
	}
	#a2 img {
		width: 225px;
		height: 275px;
	}
	#cv h2 {
		padding-bottom: 15px;
	}
}


@media screen and (max-width: 550px) {
	#a2 p 
	{ 
		font-size: 15px;
		line-height: 16px;
		margin: 10px 10px 10px 10px;
		width: 225px;
	}
	#a2 h2 {
		font-size: 23px;
	}

	#cv img {
		width: 144px;
		height: 198px;
		margin-bottom: 10px;
	}

	#cv h2 {
		font-size: 23px;
		padding-left: 10px;
	}
}

#a2 {
	
	background-color: #bfbfbf;
}

#a2 h2 {
	padding-top: 25px;
	margin-top: 0px;
	font-style: italic;
	font-weight: bold;
	color: rgb(207, 53, 59);
	font-family: 'open sans';
	text-align: center;
}

#a2 p {
	font-family: 'open sans';
	
	font-style: normal;
	font-weight: 600;
	color: black;
}

#cv {
	margin-top: 0px;
	background-color: white;
}

h2.core-value {
	font-family: 'open sans';
	font-size:45px;
	color: #2e2e2e;
	font-weight: 700;
	margin-top: 0px;
	padding-left: 30px;
}

.cv-img-offset2 {
	margin-right:0px;
}

.tumblr_title
{
            font-family: "open sans";
            font-color: #2e2e2e;
            font-size: 35px;
}

.tumblr_posts {
	list-style-type: none;
}



.tumblr_body
{
            font-family: "open sans";
            font-size:16px;
            line-height:1.5em;
}

.tumblr_caption
{
            font-family: Arial, SimHei;
            font-size: 64px;
}

.tumblr-container {
	background-color: white;
}

.tumblr-blog {
	background-color: #f8f8f8;
}
.tumblr-container h2 {
	text-align: center;
	font-size: 55px;
	color: #2e2e2e;
	margin-bottom: 55px;
}

/*end about page */

/*Begin Interships page */


#i2 { background-color: #E3E3E3 }

#i2 h3 {
	text-align: center;
}

@media (max-width: 1800px) {

	h1.internship {
		font-family: 'open sans';
		font-size: 35px;
		color: #2e2e2e;
		font-weight: 700;
		margin-top: 0px;
		padding-top: 30px;
		text-align: center;
	}
	p.internship {
		font-family: 'open sans';
		font-size: 28px;
		line-height: 35px;
		text-align: center;
		color: #2e2e2e;
		font-weight: 400;
	}
	#i2 a {
		font-size: 32px;
		text-align: center;
		font-family: "open sans";
		font-weight: 700;
		padding: 0 10%;
		border-radius: 4px;
	}
	#i2 h3 {
		margin-bottom: 30px;
	}
}

@media (max-width: 1000px) {

	h1.internship {
		font-size: 30px;
	}
	p.internship {
		font-size: 20px;
		line-height: 24px;
	}
	#i2 a {
		font-size: 28px;
	}
}
@media (max-width: 700px) {

	h1.internship {
		font-size: 25px;
	}
	p.internship {
		font-size: 16px;
		line-height: 17px;
	}
	#i2 a {
		font-size: 23px;
	}
}

@media (max-width: 400px) {

	h1.internship {
		font-size: 20px;
	}
	p.internship {
		font-size: 14px;
		line-height: 15px;
	}
	#i2 a {
		font-size: 18px;
	}
}

#teams ul {
	padding-left: 55px;
	font-weight: 400;
}

#join {
	padding-bottom: 25px;
}

@media (max-width: 1800px) {
	#teams h2, #who h2, #why h2, #what h2, #join h2 {
		font-size: 33px;
		color: rgb(38, 38, 38);
		font-family: 'open sans';
		font-weight: 600;
	}

	#teams li {
		font-weight: 400;
		font-size: 22px;
		color: rgb(38, 38, 38);	
	}

	#who p, #why p, #what p, #join p {
		font-weight: 400;
		font-size: 18px;
		line-height: 33px;
		color: rgb(38, 38, 38);
	}

	#what p, #join p {
		text-align: justify;
	}

	#teams img, #who img, #what img, #join img {
		width: 100%;
		height: 270px;
		margin-top: 20px;
	}

	#who img, #join img {
		width: 80%;
		margin-left: 10%;
		border: solid black 1px;
	}

	#members h3 {
		color: rgb(26, 26, 26);
		font-family: "open sans";
	}

}

@media (max-width: 700px) {
	#teams h2, #who h2, #why h2, #what h2, #join h2 {
		font-size: 25px;
	}

	#teams li {
		font-size: 22px;
	}
	#teams ul {
		padding-left: 5px;
	}

	#who p, #why p, #what p, #join p {
		font-size: 15px;
		line-height: 18px;
	}

	#teams img, #who img, #what img, #join img {
		height: 150px;
	}

	#who img, #join img {
		width: 80%;
		margin-left: 10%;
		border: solid black 1px;
	}
	#members h3 {
		font-size: 20px;
	}
}
@media (max-width: 400px) {
	#teams h2, #who h2, #why h2, #what h2, #join h2 {
		font-size: 15px;
	}

	#teams li {
		font-size: 10px;
	}

	#teams img, #who img, #what img, #join img {
		height: 100px;
	}

	#who img, #join img {
		width: 80%;
		margin-left: 10%;
		border: solid black 1px;
	}
	#who p, #why p, #what p, #join p {
		font-size: 10px;
		line-height: 12px;
	}

	#members h3 {
		font-size: 15px;
	}
}

#members { 
	background-color: #e2e2e2;
	padding-bottom: 25px;
}

#members h2 {
	color: rgb(26, 26, 26);
	text-align: center;
	font-weight: 600;
}

#members img {
	width: 151px;
	height: 200px;
}

#members div.company-bio p {
	line-height: 18px;
}

#members div.company-bio br {
	line-height: 20px;
}

#members div.company-bio strong {
	font-weight: 500;
}


/*end internships page */

/* begin coworking page */

#c2 {
	width: 100%;
	background-color: white;
}

h2.tenant {
	font-family: 'open sans';
	font-size: 45px;
	color: #2e2e2e;
	font-weight: 700;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 0px;
}

img.tenant {
	width: 75%;
	height: 80%;
	margin-left: 12.5%;
	padding-top: 30px;
}

#b2 {
	background-color: white;
}


@media screen and (max-width: 1800px) {
	#b2 p 
	{ 
		font-size: 22px;
		float: right;
		width: 240px;
		padding-left: 10px;
		margin-top: 10px;
	}
	#r2 h2 {
		font-size: 3em;
	}
}

@media screen and (max-width: 1200px) {
	#b2 p 
	{ 
		font-size: 18px;
		float: right;
		width: 180px;

	}
	#b2 img {
		height: 60px;
		width: 60px;
	}	
}

@media screen and (max-width: 600px) {
	#b2 p 
	{ 
		font-size: 14px;
		float: right;
	}
	#c2 h2, #r2 h2 {
		font-size: 22px;
	}
}

@media screen and (max-width: 330px) {
	#b2 p 
	{ 
		font-size: 12px;
		float: right;
		width: 100px;
		margin-top: 0;
		line-height: 12px;
	}

	#b2 img {
		width:25px;
		height: 25px;
	}
}

#b2 div.well {
	background-color: white;
	border: none;
}

p.too-much-text {
	font-size: 18px;
	margin-top: 0;
}

div.sub-row {
	margin-bottom: 15%;
	height: 32.1%;
	width: 100%;
	float: left;
}

#p2 {
	width: 100%;
}

#p2 div.container {
	max-width: 1200px;
}

#p2 div.row {
	margin-right: 0;
}


#p2 img {
	margin: 0 -5px 0 -5px;
	display: inline-block;
	height: 180px;
	width: 240px;
}

#r2 {
	background-color: white;
}

#r2 h2 {
	font-family: "open sans";
	color: #2e2e2e;
	text-align: center;
	margin-top: 4%;
	font-weight: bold;
}



/*end coworking page */



/* dropdown */

#sddm
{	
	margin: 0;
	padding: 0;
	z-index: 30
}

#sddm li
{	
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
}

#sddm li a
{	
	display: block;
	margin: 0 1px 0 0;
	text-align: center;
	text-decoration: none
}

#sddm li a:hover
{	

}

#sddm div
{	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background: #f8f8f8;
	border: 1px solid #5970B2;
	border-top: none;
}

	#sddm div a
	{	position: relative;
		display: block;
		margin: 0;
		padding: 5px 10px;
		width: auto;
		white-space: nowrap;
		text-align: center;
	}

	#sddm div a:hover
	{	
		/*background: #49A3FF;
		color: #FFF*/
		background-color: #9e9e9e;
	}

		/* end dropdown */




.feature-img {
 	margin-top: 20px;
 	margin-right: auto;
 	margin-left: auto;
 	width: 180px;
	height: 180px;
}
@media (max-width: 1800px) {
	#features h2 {
		color: #313131;
		text-align: center;
		font-size: 25px;
		font-weight: 700;
		line-height: 22px;
		font-family: "Open Sans";
		margin-bottom: 15px;
	}

	#features p {
		font-size: 18px;
		text-align: center;
		font-family: "open sans";
		font-weight: 400;
	}
}

@media (max-width: 1000px) {
	#features h2 {
		font-size: 20px;
		line-height: 22px;
	}

	#features p {
		font-size: 13px;
	}
	.feature-img {
		width: 100px;
		height: 100px;
	}


}
@media (max-width: 400px) {
	#features h2 {
		font-size: 15px;
		line-height: 16px;
	}

	#features p {
		font-size: 10px;
		line-height: 12px;
	}
	.feature-img {
		width: 80px;
		height: 80px;
	}
}




.feature-img-left {
	background-image: url("/assets/img/Homepage_Icons/Icon_For-Entrepreneurs.png");
	background-size:cover;
}
.feature-img-left:hover {
	background-image: url("/assets/img/Homepage_Icons/Icon_For-Entrepreneurs_Red.png");
	background-size:cover;
}
.feature-img-center {
	background-image: url("/assets/img/Homepage_Icons/Icon_Coworking.png");
	background-size:cover;
}
.feature-img-center:hover {
	background-image: url("/assets/img/Homepage_Icons/Icon_Coworking_Red.png");
	background-size:cover;
}
.feature-img-right {
	background-image: url("/assets/img/Homepage_Icons/Icon_LTC.png");
	background-size:cover;
}	
.feature-img-right:hover {
	background-image: url("/assets/img/Homepage_Icons/Icon_LTC_Red.png");
	background-size:cover;
}

 
div.feature a {
	    position: relative;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
	    text-decoration: none; /* No underlines on the link */
	    z-index: 10; /* Places the link above everything else in the div */
	    background-color: #FFF; /* Fix to make div clickable in IE */
	    filter: alpha(opacity=1); /* Fix to make div clickable in IE */
	}
	
div.footerbox {
		float:left;
		width: 300px;
		margin: 20px;
		border: 1px solid #ccc;
		padding: 10px;
		background-color: #ACACAC;
		/* For Opacity 
	    opacity: .50; 
	    filter: alpha(opacity=50); 
	    -ms-filter: "alpha(opacity=50)"; 
	    -khtml-opacity: .50; 
	    -moz-opacity: .50; 
		*/
		}

#pop-up {
	background: #333333;
	color: white;
	overflow: hidden;
}

#pop-up h1, h2, h3 {
	color: white;
}

#pop-up h1 {
	text-align: center;
	font-weight: bold;
}

div#mc_embed_signup {
	width: 50%;
	margin: auto;
}

#team-alpha p {
	font-size: 17px;
	line-height: 22px;
}

#team-alpha b {
	line-height: 14px;
	font-size: 17px;
}

#team-alpha img {
	height: 200px;
}

.div-home-page p {
	font-size: 17px;
	line-height: 28px;
}

.feature p {
	background: white;
	padding: 5px;
	margin-top: 0.1em;
}

#left-content {
	margin-top: 0;
}

#social-phrase h2 {
	color: black;
}

#retreat {
	margin-top: 1em;
}

.team_alpha_img {
	margin-top: 3em;
	background-color: transparent;
}

.team_alpha_apply {
	margin-top: 2.5em;
}

.pagination-centered {
	text-align: center;
}

.span12 {
	margin-top: 4em;
}

#team-landing {
	font-family: Exo-Bold;
}

#team-landing h1 {
	color: #EE2524;
	font-family: Exo-Bold;
}

#team-landing p {
	font-size: 1.3em;
	margin: 12px;
}

#team-landing span {
	color: #EE2524;
}

#team-landing {
	background: white;
}

#border-line {
	margin: 5px;
	margin-top: 1em;
	color: transparent;
	height: 3px;
	width: 100%;
	background: black;
}

#fellowship .modal-dialog {
	width: 800px !important;
	padding-top: 5px;
}

#fellowship .modal-content {
	height: 650px !important;
}

.home-icon {
	display: block;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	margin: auto;
	height: 180px;
	margin-top: -1em;
}

.top_content_link {
	color: white;
}

.top_content_link:hover {
	color: #d2322d;
	text-decoration: none;
}


/* Sub Page Gray Ribbons 1 */
		#s1 {
			background: #333333;
			padding-top: 50px;
			padding-bottom: 50px;
		}

		#s1 h2 {
			color: white;
		}

		#s1 h3 {
			color: white;
		}


		#s1 p {
			color: white;
		}

		#s1 .col-lg-2 {
			padding-left: 0px;
			padding-right: 0px;
		}
		
/* Sub Page White Ribbons 1 */

		#s2 {
			background: #ffffff;
			padding-top: 50px;
			padding-bottom: 50px;
		}

		#s2 i {
			font-size: 70px;
			color: #2f2f2f;
			padding-bottom: 30px;
		}

		#s2 i:hover {
			color: #f1c40f
		}
		
		#s2 h2 {
			color: black;
		}
		
		#s2 p {
			font-weight: 200;
			color: black;		
}		

/* Sub Page Gray Ribbons 2 */
		#s3 {
			background: #333333;
			padding-top: 50px;
			padding-bottom: 50px;
		}

		#s3 h2 {
			color: white;
		}

		#social-footer h2 {
			color: black;
		}

		#s3 h3 {
			color: white;
		}


		#s3 p {
			color: white;
		}

		#s3 .col-lg-2 {
			padding-left: 0px;
			padding-right: 0px;
		}

/* Sub Page White Ribbons 2 */

		#s4 {
			background: #ffffff;
			padding-top: 50px;
			padding-bottom: 50px;
		}

		#s4 i {
			font-size: 70px;
			color: #2f2f2f;
			padding-bottom: 30px;
		}

		#s4 i:hover {
			color: #f1c40f
		}
		
		#s4 h2 {
			color: black;
		}
		
		#s4 p {
			font-weight: 200;
			color: black;		
}				

/* Sub Page Gray Ribbons 3 */
		#s5 {
			background: #333333;
			padding-top: 50px;
			padding-bottom: 50px;
		}

		#s5 div h2 {
			color: white;
		}

		#social-footer h2 {
			color: black;
		}

		#s5 div h3 {
			font-size: 30px;
			color: white;
		}


		#s5 div p {
			color: white;
		}

		#s5 .col-lg-2 {
			padding-left: 0px;
			padding-right: 0px;
			}


/* Sub Page White Ribbons 3 */

		#s6 {
			background: #ffffff;
			padding-top: 50px;
			padding-bottom: 50px;
		}

		#s6 i {
			font-size: 70px;
			color: #2f2f2f;
			padding-bottom: 30px;
		}

		#s6 i:hover {
			color: #f1c40f
		}
		
		#s6 h2 {
			color: black;
		}
		
		#s6 p {
			font-weight: 200;
			color: black;		
}	

/* Mentors Page*/

		#mentors li {
			height: 300px;
			float: left;
			margin-bottom: 18px;
			margin-left: 20px;
			width: 170px;
		}	

		#mentors p {
			line-height:20px;
			font-size: 18px;
			margin-bottom:5px;
		}

		#mentors a {
			color:#0088cc;
		}	
