/*
 * Author: Carlos Alvarez
 * URL: http://alvarez.is
 *
 * Project Name:
 * Version: 1.0
 * URL: http://alvarez.is
 */

/* Custom Font-Styles */
@font-face { font-family: Exo-Bold; src: url('font/Exo-Bold.ttf'); }

body {
  	background-color: white;
    font-family: "open sans";
    font-weight: 300;
    font-size: 16px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: "open sans";
    font-size: 30px;
    font-weight: 300;
    color: #333;
}


/* Paragraph & Typographic */
p {
	font-size: 20px;
    line-height: 33px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

.goleft {
	text-align: left;
}

.goright {
	text-align: right;
}

/* Links */
a {
    color: rgb(184, 17, 36);
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/* BOOTSTRAP CHANGES */

/* Button Theme Configuration */

.btn {
  border-radius: 0px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 100;
}
.btn-theme {
  color: white;
  background-color: transparent;
  border-color: white;
  padding-right: 10px;
  padding-left: 10px;
}

.btn-theme:hover {
	color: #2f2f2f;
	background-color: white;
}


/* Modal Configuration */

.modal-header {
	background: #1abc9c;
}

.modal-header h4 {
	color: white;
}

.modal-header {
	background: blah;
	h4 {
		color: white
	}
}

.modal-footer {
	background: #2b2b2b;
}

/* Navbar Modification */

.right-nav {
	float: right;
	min-width: 250px
}


.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #2c3e50;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
color: #ffffff;
text-decoration: none;
background-color: #2c3e50;
outline: 0;
}

/* Form Modifications */

.form-control {
	border-radius: 0px;
	padding: 10px 18px;
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	color: #2f2f2f;
	font-weight: 100;
}

input {
	padding: 10px 18px;
}

label {
	font-weight: 500;
	font-family: 'Raleway', sans-serif;
}

input[type="submit"] {
	border: 0px;
	margin-top: 1em;
}
/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
	background: url(../img/header-bg.jpg) no-repeat center top;
	padding-top:20px;
	background-attachment: relative;
	background-position: center center;
	min-height: 500px;
	width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* David changed from White to Ainc Gray */
#headerwrap h1 {
	margin-top: 70px;
	color: 333333;
	font-size: 55px;
	font-weight: 100;
	letter-spacing: 2px;
	text-align: left;
}

#headerwrap2 {
	background: url(../img/header-bg2.jpg) no-repeat center top;
	margin-top: 50px;
	padding-top:20px;
	background-attachment: relative;
	background-position: center center;
	min-height: 500px;
	width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap2 h1 {
	margin-top: 150px;
	color: white;
	font-size: 55px;
	font-weight: 100;
	letter-spacing: 2px;
}

/* About Wrap */


#about {
	background: url(../img/about-bg.jpg) no-repeat center top;
	padding-top:20px;
	background-attachment: relative;
	background-position: center center;
	min-height: 450px;
	width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#about h1 {
	margin-top: 150px;
	color: white;
	font-size: 55px;
	font-weight: 100;
	letter-spacing: 2px;
}

/* What's awesome this week videos */

#player {
    width: 435px;
    height: 300px;
    overflow: hidden;
    background: gray;
    position: absolute;
    border: solid 2px gray;
}

.youtube .carousel {
    width: 20%;
    height: 100%;
    overflow: auto;
    position: absolute;
    right: 0px;
    z-index: 3;
}

.youtube .thumbnail {
    margin: 2px;
    width: 80%;
    border: 1px solid black;
}

.youtube iframe.player {
    width: 80%;
    height: 300px;
    overflow: auto;
    border: 0;
}

.video {
	padding-top: 75px;
}

/* Services Wrap */

#services {
	background: url(../img/services-bg.jpg) no-repeat center top;
	padding-top:20px;
	background-attachment: relative;
	background-position: center center;
	min-height: 450px;
	width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



/* Changed to Ainc Gray*/
#y {
	padding-top: 50px;
	padding-bottom: 20px;
	background-color: white;
}

#y .glyphicon {
	font-size: 60px;
	color: white;
}

#y h3 {
	color: #2e2e2e;
	font-family: "open sans";
	font-weight: bold;
}

#y p {
	font-weight: 500;
	color: #2e2e2e;
}

#cv {
	padding-top: 50px;
	padding-bottom: 50px;
}

#cv .glyphicon {
	font-size: 60px;
	color: white;
}

#cv h3 {
	color: white;
}

#cv p {
	font-weight: 500;
	color: white;
}

/* Dark Blue Wrap change by David to Ainc Red */
#db {
	background: #333333;
	padding-top: 50px;
	padding-bottom: 50px;
}

#db h2 {
	color: white;
}

#db h3 {
	color: white;
}


#db p {
	color: white;
}

#db .col-lg-2 {
	padding-left: 0px;
	padding-right: 0px;
}


/* ==========================================================================
   Blog Configuration
   ========================================================================== */


/* Blog Page Zones & Conf*/

.main-blog {
	padding-top: 90px;
}

.blog-date {
	display: block;
	padding-top: 40px;
}

.blog-date p {
	text-align: right;
	margin-right: 10px;
	font-size: 13px;
	letter-spacing: 1px;
}

.blog-date h6 {
	font-weight: 800;
	text-align: right;
	margin-right: 10px;
	letter-spacing: 1px;
}

.blog-title {
	padding-top: 40px;
	margin-bottom: 20px;
}

.blog-title h2 {
	margin-top: 0px;
	font-size: 40px;
	line-height: 50px;
	letter-spacing: 3px;
	text-align: left;
	font-weight: 400;
	margin-left: 5px;
}

.blog-post {
	text-align: left;
	margin-right: 0px;
	font-size: 16px;
}

.blog-post h2 {
	margin-top: 0px;
	font-size: 40px;
	line-height: 50px;
	letter-spacing: 3px;
	text-align: left;
	font-weight: 400;
	width: 100%;
	padding-top: 40px;
	margin-bottom: 20px;
}


.blog-post em {
	text-align: left;
	font-size: 22px;
	color: #767676;
}

.blog-post i {
	letter-spacing: 10px;
}

.blog-post p {
	margin-bottom: 20px;
}

.blog-post blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 4px solid #f1c40f;
  color: #a7a7a7;
  font-size: 19px;
}

.blog-post tag {
	color: #a7a7a7;
	font-size: 14px;
	letter-spacing: 2px;
}

.blog-post h4 {
	margin-top: 0px;
	font-size: 19px;
	line-height: 30px;
	letter-spacing: 1px;
	text-align: left;
	font-weight: 700;
}

/* ========== SIDEBAR CONF ========== */

.sidebar-zone {
	padding-top: 40px;
	padding-bottom: 120px;
	margin-bottom: 0px;
}

.sidebar-zone i {
	vertical-align: middle;
}

.sidebar-zone h4 {
	font-weight: 500;
}

.sidebar-zone p {
	font-size: 14px;
}

.sidebar-zone h6 {
	font-weight: 700;
}

.popular-posts {
	margin: 0px;
	padding-left: 0px;
	}

.popular-posts li {
	list-style: none;
	margin-bottom: 20px;
	min-height: 70px;
}
.popular-posts li a,
.popular-posts li a:hover {
	color:#2f2f2f;
	text-decoration: none;
	}

.popular-posts li img {
	float: left;
	margin-right: 20px;
	}

.popular-posts li em {
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
	}

p > tag {
	color:#b1b1b1;
	font-size: 12px;
	font-weight: 500;
}





/* ==========================================================================
   Image Mask
   ========================================================================== */

.grid figure {
	margin: 0;
	position: relative;
}

.grid figure img {
	width: 100%;
	display: block;
	position: relative;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	color: #fff;
	background: #2c3e50;

}

.grid figcaption h5 {
	margin: 0;
	padding-top: 0px;
	padding-left: 10px;
	padding-bottom: 5px;
	color: #fff;
	text-align: left;
	letter-spacing: 1px;

}

.grid figcaption a {
	text-align: left;
	padding: 5px 10px;
	margin-left: 20px;
	display: inline-block;
	background: transparent;
	color: #fff;
	font-size: 13px;
	font-weight: 700;
}

/* Caption Style */
.mask figure {
	overflow: hidden;
}

.mask figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.no-touch .mask figure:hover img,
.mask figure.cs-hover img {
	-webkit-transform: translateY(-30px);
	-moz-transform: translateY(-30px);
	-ms-transform: translateY(-30px);
	transform: translateY(-30px);
}

.mask figcaption {
	height: 50px;
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .mask figure:hover figcaption,
.mask figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}

.mask figcaption a {
	position: absolute;
	top:10px;
	bottom: 10px;
	right: 30px;
}

/* ==========================================================================
   Pricing Tables
   ========================================================================== */

.pricing-option {
    padding-bottom: 40px;
}

.pricing-option .pricing-top {
    position: relative;
    background: #222;
    color: white;
    text-align: center;
    font-weight: bold;

    padding: 40px 20px 30px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.pricing-option .pricing-top .special-label {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #f1c40f;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    padding: 3px 0;
}

.special .pricing-top {
    background: black;
}

.pricing-option .pricing-edition {
    text-transform: uppercase;
    display: block;
    font-size: 25px;
    letter-spacing: 8px;
}

.pricing-option .price {
    display: inline-block;
    position: relative;
}

.pricing-option .price sup {
    position: absolute;
    top: 50px;
    left: -10px;
    font-size: 24px;
}

.pricing-option .price .price-amount {
    font-size: 108px;
    letter-spacing: -4px;
}

.pricing-option .price small {
    position: relative;
    left: -10px;
    font-size: 18px;
}

.pricing-option ul {
    list-style: none;
    margin: 0;
    background: #eee;
    text-align: center;
    padding-left: 0px;
}

.pricing-option ul li {
    border-bottom: solid 1px #e1e1e1;
    padding-top: 20px;
    padding-bottom: 20px;
}

.pricing-option .pricing-signup {
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 10px;
    color: white;
    background: #f1c40f;
}

.pricing-option .pricing-signup:hover {
    background: #f39c12;
}

::-webkit-scrollbar {
  background-color: rgba(120,120,120,0.2);
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.6);
  border-radius: 5px;
}

.ta-port {
	width: 151px;
	height: 195px;
	margin: 7px;
}
.ta-port img {
	position: absolute;
	max-height: 100%;
	max-width: 100%;
}

.ta-port:hover {
	border: 1px solid #d9534f;
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.05),0 0 10px #d9534f;
}
.ta-bio {
	background-color: rgba(210,50,45,0.8);
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	overflow: auto;
}
.ta-bio p {
	margin: 0;
	font-size: 1.1em;
}


.company-port {
	width: 195px;
	height: 195px;
	margin: 7px;
}

.company-port img {
	position: absolute;
	max-height: 100%;
	max-width: 100%;
}

.company-port:hover {
	border: 1px solid #d9534f;
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.05),0 0 10px #d9534f;
}

.company-bio {
	background-color: rgba(210,50,45,0.8);
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	overflow: auto;
}

.company-bio p {
	margin: 0;
	font-size: 1.1em;
}

@media (max-width: 700px) {
	#mobile-portfolio {
		display: none;
	}
	.company-port {
		margin: auto;
	}
}

span.anchor {
	display: block;
	height: 50px; /*same height as header*/
	margin-top: -50px; /*same height as header*/
	visibility: hidden;
}

div.shadow {
	float:left;
	position: relative;
	height: 245px;
	width: 300px;
	margin: 20px;
	border: 1px solid #ccc;
	padding: 10px;
	background: #777777;
	}

@media (max-width: 700px) {
	div.shadow {
		width: 100%;
		margin: 0;
		margin-bottom: 10px;
	}

	div #left-content {
		margin-top: 1.5em;
	}
	#y {
		height: 850px;
	}
}

@media (min-width: 1200px) {
	div #top-div-mid{
		left: 7%;
	}

	div #top-div-right{
		float: right;
	}
}

.subtitle {
	font-family: "open sans";
	font-size: 45px;
	color: #333;
	margin-top: 0px;
	font-weight: 400;
}

div.shadow:hover {
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	background-color: #EE2524;
	}
.temp-div {
	height:35px;
	width:100%;
	background-color:rgb(207, 53, 59);
}

/*for the entrep page*/



#fellowship h2, #across h2, #cherub h2, #startup h2, #hof h2, #idea h2 {
	color: #2e2e2e;
	font-weight: 700;
}

#fellowship p, #across p, #cherub p, #startup p, #hof p {
	font-weight: 500;
	text-align: justify;
}
 #idea p, #idea h2, #idea h3 {
 	text-align: center;
 }
#idea div {
	margin: auto;
	float: none;
}

#fellowship a, #across a, #cherub a, #startup a, #hof a, #idea a {
	font-weight: 500;
	font-family: "open sans";
	border-radius: 4px;

}

#fellowship, #hof {
	background-color: #e2e2e2;
}

@media (max-width: 1800px) {
	#fellowship h2, #across h2, #cherub h2, #startup h2, #hof h2 {
		font-size: 32px;
	}
	#hof h2 { font-size: 40px;}

	#fellowship p, #across p, #cherub p, #startup p, #hof p {
		font-weight: 500;
		word-spacing: 4px;
		font-size: 20px;
	}

	#across p {
		font-size: 22px;
		line-height: 40px;
	}

	#fellowship a, #across a, #cherub a, #startup a, #hof a {
		font-size: 32px;
		font-weight: 400;
		font-family: "open sans";
		border-radius: 4px;
		margin-bottom: 20px;
	}
	#fellowship {
		word-spacing: 8px;
	}

	#fellowship h3 {
		text-align: center;
	}

}

@media (max-width: 1000px) {
	#fellowship h2, #across h2, #cherub h2, #startup h2, #hof h2 {
		color: #2e2e2e;
		font-weight: 700;
		font-size: 25px;
	}

	#fellowship p, #across p, #cherub p, #startup p, #hof p {
		font-weight: 500;
		font-size: 18px;
		word-spacing: 4px;
		line-height: 19px;
	}

	#fellowship a, #across a, #cherub a, #startup a, #hof a {
		font-size: 18px;
		font-weight: 400;
		margin-bottom: 20px;
	}

	#fellowship h3 {text-align: center}
}
@media (max-width: 700px) {
	#fellowship h2, #across h2, #cherub h2, #startup h2, #hof h2 {
		font-weight: 700;
		font-size: 20px;
	}

	#fellowship p, #across p, #cherub p, #startup p, #hof p {
		font-weight: 500;
		font-size: 15px;
		word-spacing: 4px;
		line-height: 16px;
	}

	#fellowship a, #across a, #cherub a, #startup a, #hof a {
		font-size: 18px;
		font-weight: 400;
		margin-bottom: 20px;
	}

	#fellowship h3 {text-align: center}
}

@media (max-width: 400px) {
	#fellowship h2, #across h2, #cherub h2, #startup h2, #hof h2 {
		font-weight: 700;
		font-size: 15px;
	}

	#fellowship p, #across p, #cherub p, #startup p, #hof p {
		font-weight: 500;
		font-size: 10px;
		word-spacing: 4px;
		line-height: 11px;
	}

	#fellowship a, #across a, #cherub a, #startup a, #hof a {
		font-size: 13px;
		font-weight: 400;
		margin-bottom: 20px;
	}

	#fellowship h3 {text-align: center}
}


#across img {
	margin: 35px 0 15px 0;
	width: 100%;
	height: 100%;
}

#across a {
	border-color: inherit;
}

@media (max-width: 1800px) {

	#across img {
		margin: 35px 0 15px 0;
		width: 100%;
		height: 100%;
	}

	#across a {
		font-size: 24px;
	}
}

@media (max-width: 1000px) {

	#across img {
		margin: 35px 0 15px 0;
		width: 100%;
		height: 100%;
	}

	#across a {
		font-size: 14px;
	}
}

@media (max-width: 700px) {
	#across h2 {
		font-size: 25px;
	}

	#across p {
		font-size: 15px;
		line-height: 20px;
	}

	#across img {
		margin: 35px 0 15px 0;
		width: 100%;
		height: 100%;
	}

	#across a {
		font-size: 16px;
	}
}

@media (max-width: 400px) {
	#across h2 {
		font-size: 17px;
	}

	#across p {
		font-size: 12px;
		line-height: 20px;
	}

	#across img {
		margin: 35px 0 15px 0;
		width: 100%;
		height: 100%;
	}

	#across a {
		font-size: 9px;
	}
}

.across-pitch {
	background-color: rgb(135, 170, 59);
}

.across-register {
	background-color: rgb(28, 115, 186);
}

#cherub {
	background-color: #E2E2E2;
}

#cherub img, #hof img {
	width: 80%;
	height: 175px;
	padding-left: 10%;
}

#cherub a,  {
	padding: 6px 30%;
	margin-bottom: 25px;
}

#cherub h3 {
	text-align: center;
}

@media (max-width: 1800px) {
	#cherub p {
		font-size: 20px;
		line-height: 36px;
		word-spacing: 7px;
	}
	#cherub a {
		font-size: 30px;
	}
}

@media (max-width: 1000px) {
	#cherub p {
		line-height: 22px;
		word-spacing: 3px;
	}
	#cherub a {
		font-size: 22px;
	}
	#cherub img {
		height: 125px;
	}
}

@media (max-width: 700px) {
	#cherub p {
		font-size: 15px;
		line-height: 17px;
		word-spacing: 3px;
	}
	#cherub h2 {
		font-size: 20px;
	}
	#cherub a {
		font-size: 16px;
		padding: 6px 10%;
	}
	#cherub img {
		height: 80px;
	}
}

@media (max-width: 400px) {
	#cherub p {
		font-size: 9px;
		line-height: 10px;
	}
	#cherub h2 {
		font-size: 12px;
	}
	#cherub a {
		font-size: 9px;
	}
}

#startup h3, #startup h2, #hof h2, #hof h3 {
	text-align: center;
}

#startup p {
	margin: 5%;
}

@media (max-width: 1800px) {
	#startup p {
		font-size: 20px;
		line-height: 36px;
		word-spacing: 7px;
	}
	#startup a {
		font-size: 30px;
	}
}

@media (max-width: 1000px) {
	#startup p {
		font-size: 20px;
		line-height: 29px;
		word-spacing: 3px;
	}
	#startup a {
		font-size: 22px;
	}
}

@media (max-width: 700px) {
	#startup p {
		font-size: 15px;
		line-height: 17px;
		word-spacing: 3px;
	}
	#startup h2 {
		font-size: 20px;
	}
	#startup a {
		font-size: 16px;
		padding: 6px 10%;
	}
}

@media (max-width: 400px) {
	#startup p {
		font-size: 9px;
		line-height: 10px;
	}
	#startup h2 {
		font-size: 12px;
	}
	#startup a {
		font-size: 9px;
	}
}



#hof a { padding: 6px 10%;}

/*end of entrep page */


/*for top img*/

div.coworking-page, div.entrep-page, div.internship-page, div.about-page, div.parking-page, div.awesomeincgame-page, div.TAS-page, div.dashboard  {

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
}





div.TAS-page { background-image: url("/assets/img/TAServices/Optimized-TAServicesBanner05-crop.png") }

div.parking-page { background-image: url("/assets/img/parking-head-4.jpg") }

div.awesomeincgame-page { background-image: url("/assets/img/headers/for_entrepreneurs.png") }

/*for the parking page */

div.parking {
	text-align: center;
	padding: 50px;
}


/*for the coworking page */

#Schedule1{
	width:45%;
}

#Schedule2{
	min-width:560px;
	min-height:315px;
}

#r2 img {
	margin-left: 10%;
	border-radius: 4px;
	width: 280px;
	height: 187px;
}

#r2 p , #Wthrough p{
	text-align: center;
	font-family: "open sans";
	font-weight: 500;
	color:#2e2e2e;
	font-size: 15px;
	margin-top: 10px;
}

#c2 a, #r2 a , #Wthrough a, #hide{
	font-family: "open sans";
	background-color: rgb(207, 53, 59);
	border-radius: 2px;
	font-weight: bold;
	text-transform: uppercase;
}


#cv img {
	width: 95%;
	box-shadow: 5px 5px 5px #2e2e2e;
}




/*end about page */

/*Begin Interships page */



/*end internships page */

/* begin coworking page */

#c2 {
	width: 100%;
	background-color: white;
}

h2.tenant {
	font-family: 'open sans';
	font-size: 45px;
	color: #2e2e2e;
	font-weight: 700;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 0px;
}

img.tenant {
	width: 75%;
	height: 80%;
	margin-left: 12.5%;
}

div.sub-row {
	margin-bottom: 15%;
	height: 32.1%;
	width: 100%;
	float: left;
}

#p2 {
	width: 100%;
}

#p2 div.container {
	max-width: 1200px;
}

#p2 div.row {
	margin-right: 0;
}


#p2 img {
	margin: 0 -5px 0 -5px;
	display: inline-block;
	height: 180px;
	width: 240px;
}

#r2 {
	background-color: white;
}

#r2 h2, #Wthrough h2 {
	font-family: "open sans";
	color: #2e2e2e;
	text-align: center;
	margin-top: 4%;
	font-weight: bold;
}

/*end coworking page */

/*footer signup*/

.footer-signup input {
	background-color: #d9534f
}

.footer-signup input:hover {
	background-color: #d43f3a
}

/* dropdown */

#sddm
{
	margin: 0;
	padding: 0;
	z-index: 30;
}

#sddm li
{
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: right;
}

#sddm li:hover {
	background-color: #e6e6e6;
}

#sddm li a
{

	display: block;
	margin: 0 1px 0 0;

	text-decoration: none;
}

#sddm li a:hover
{
	color: rgb(207, 53, 59);
	background-color: none;
}

#sddm div
{	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background: #f8f8f8;
	border: 1px solid #black;
	border-top: none;
}
#sddm div:hover {
	color:green;
}

	#sddm div a
	{	position: relative;
		display: block;
		margin: 0;
		padding: 5px 9px;
		width: auto;

		color: #313131;
		white-space: nowrap;
		text-align: center;
	}

	#sddm div a:hover
	{
		/*background: #49A3FF;
		color: #FFF*/
		color: rgb(207, 53, 59);
	}

@media (max-width: 768px) {
	#sddm div {
		display: none;
		overflow:none;
	}
}

		/* end dropdown */



div.footerbox {
		float:left;
		width: 300px;
		margin: 20px;
		border: 1px solid #ccc;
		padding: 10px;
		background-color: #ACACAC;
		/* For Opacity
	    opacity: .50;
	    filter: alpha(opacity=50);
	    -ms-filter: "alpha(opacity=50)";
	    -khtml-opacity: .50;
	    -moz-opacity: .50;
		*/
		}

#pop-up {
	background: white;
	color: #2e2e2e;
	overflow: hidden;
}

#pop-up h1, h2, h3 {
	color: #2e2e2e;
}

#pop-up h1 {
	text-align: center;
	font-weight: bold;
}

div#mc_embed_signup {
	width: 50%;
	margin: auto;
}

#team-alpha p {
	background-color: #ffffff;
	font-size: 17px;
	line-height: 22px;
}

#team-alpha b{
	line-height: 14px;
	font-size: 17px;
}

/**
 * Team alpha wall pictures for current team
 **/

#team-alpha-wall-picture{
	width: 200px;
	height: 200px;
}


/**
*Members Styling
**/

.alpha-img {
	display: inline-block;
	position: relative;
	left: -4.5%;
	float: none;
	/*height: 125px;
*/	width: 16.6666667%;
	min-width: 250px;
	padding: 10px;
	opacity: 1;
	margin-top: 10px;
	/*margin:0 0 2.5% 2.5%;*/

}
.alpha-img h2 {
	text-align: center;
	font-size: 20px;
	padding: 0px;
	margin-top: 0px;

}




#team-alpha .col-lg-offset-3 {
	margin-left: 27.88888888888888%;
}

#team-alpha span.team {
		font-family: open sans;
		font-size: 20px;
		color: #CF353B;
}



#team-alpha h6
{
	font-size: 20px;
	margin: 0px;
	padding: 0px;
	font-weight: bold;
	padding-top: 2.5%;
}


.alpha-bio
{
	color: black;
	position: absolute;
	width: 400px;
	height: 300px;
	bottom: 50%;
	left:-110px;
	background-color: white;
	border-radius: 10px;
	visibility: hidden;
	opacity: 0;
	font-weight: normal;
	font-size: 15px;
	z-index: +1;
	overflow: auto;
	}





.alpha-bio h4{
	font-size: 20px;
	margin: 0px;
	padding: 0px;
	font-weight: bold;
	padding-top: 2.5%;



}

.alumni-bio p {
	font-size: 17px;
}
.alpha-bio{
	position: absolute;
	text-align: center;
	width: 300px;
	height: 300px;
	bottom: 0px;
	right: -20px;
	padding: 10px 25px 15px 25px;
	background-color: #e6e6e6;
	border-radius: 50%;
	visibility: hidden;
	opacity: 0;
	z-index: +1;
	overflow: auto;
}
.alpha-img:hover img {
	opacity: .5;
}

.alpha-img:hover .alpha-bio {
	visibility: visible;
	opacity: .95;
}


/*TA Member Wall Styling */
.grid_TA_Wall {
	padding: 2%;
	max-width: 1300px;
	list-style: none;
	text-align: center;
	margin: 0 auto;
	overflow: hidden;
}

.grid_TA_Wall .item {
	display: inline;
	float: none;
}

.grid_TA_Wall li {
	display: inline-block;
	margin: 0;
	padding: 1%;
	text-align: center;
	position: relative;
}

.grid_TA_Wall figure {
	margin: 0;
	position: relative;
}

.grid_TA_Wall figure img {
	width: 100%;
	position: relative;
	border-radius: 2%;
}

.grid_TA_Wall figcaption {
	/*This deals with the screen that appears when hovering over members */
	position: absolute;
	top: 0;
	left: 0;
	background: #d1d3d4;
	color: #CF353B;
	overflow-x: hidden;
	overflow-y: scroll;
}

.grid_TA_Wall figcaption h3 {
	margin: 0;
	padding: 0;
	color: #333;
}

.grid_TA_Wall figcaption h4 {
	font-size: 28px;
	margin: 0;
	padding: 0;
	color: #333;
}

/*TA Alumni Wall Styling */
.grid_TA_alumni {
	padding: 2% 2% 0 2%;
	max-width: 1300px;
	list-style: none;
	text-align: center;
	margin-left: 30px
}

.grid_TA_alumni li {
	display: inline-block;
	width: 300px;
	margin: -40px;
	padding: 20px 20px 70px 20px;
	text-align: left;
	position: relative;
}

.grid_TA_alumni figure {
	margin: 0px;
	position: relative;
}

.grid_TA_alumni figure img {
	max-width: 100%;
	display: block;
	position: relative;

}

.grid_TA_alumni figcaption {
	/*This deals with the screen that appears when hovering over members */
	position: absolute;
	top: -10%;
	left: 5%;
	padding: 0;
	background: #d1d3d4;
	color: #CF353B;
	overflow: auto;
}

.grid_TA_alumni figcaption h3 {
	margin: 0;
	padding: 0;
	color: #333;
}


/*TA Member Wall Caption Styling */
.cs-style-1 figcaption {
	font-family: open sans;
	padding: 10%;
	height: 100%;
	width: 100%;
	opacity: 0;
	text-align: center;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	border-radius: 2%;
}

.no-touch .cs-style-1 figure:hover figcaption,
.cs-style-1 figure.cs-hover figcaption, .no-touch .cs-style-1 figure:focus figcaption {
	opacity: 1;
}

.cs-style-1 figcaption h3 {
	margin-top: 0%;
}

.cs-style-1 figcaption span {
	display: block;
}

/*TA Alumni Wall Caption Styling */
.cs-style-2 figcaption {
	font-family: open sans;
	padding: 0 10% 20% 10%;
	height: 110%;
	width: 88%;
	opacity: 0;
	text-align: center;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	border-radius: 5%;
}

.no-touch .cs-style-2 figure:hover figcaption,
.cs-style-2 figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translate(15px, 15px);
	-moz-transform: translate(15px, 15px);
	-ms-transform: translate(15px, 15px);
	transform: translate(15px, 15px);
}

.cs-style-2 figcaption h3 {
	margin-top: 0%;
}

.cs-style-2 figcaption span {
	display: block;
}




/* Done with Caption Style */

.feature p {
	background: white;
	padding: 5px;
	margin-top: 0.1em;
}

#left-content {
	margin-top: 0;
}

#retreat {
	margin-top: 1em;
}

.team_alpha_img {
	margin-top: 3em;
	background-color: transparent;
}

.team_alpha_apply {
	margin-top: 2.5em;
}

.pagination-centered {
	text-align: center;
}

.span12 {
	margin-top: 4em;
}

#team-landing {
	font-family: Exo-Bold;
}

#team-landing h1 {
	color: #EE2524;
	font-family: Exo-Bold;
}

#team-landing p {
	font-size: 1.3em;
	margin: 12px;
}

#team-landing span {
	color: #EE2524;
}

#team-landing {
	background: white;
}

#border-line {
	margin: 5px;
	margin-top: 1em;
	color: transparent;
	height: 3px;
	width: 100%;
	background: black;
}

#fellowship .modal-dialog {
	width: 800px !important;
	padding-top: 5px;
}

#fellowship .modal-content {
	height: 650px !important;
}

.home-icon {
	display: block;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	margin: auto;
	height: 180px;
	margin-top: -1em;
}

.top_content_link {
	color: white;
}

.top_content_link:hover {
	color: #d2322d;
	text-decoration: none;
}


/* Sub Page Gray Ribbons 1 */
		#s1 {
			background: #333333;
			padding-top: 50px;
			padding-bottom: 50px;
		}

		#s1 h2 {
			color: white;
		}

		#s1 h3 {
			color: white;
		}


		#s1 p {
			color: white;
		}

		#s1 .col-lg-2 {
			padding-left: 0px;
			padding-right: 0px;
		}

/* Sub Page White Ribbons 1 */

		#s2 {
			background: #ffffff;
			padding-top: 50px;
			padding-bottom: 50px;
		}

		#s2 i {
			font-size: 70px;
			color: #2f2f2f;
			padding-bottom: 30px;
		}

		#s2 i:hover {
			color: #f1c40f
		}

		#s2 h2 {
			color: black;
		}

		#s2 p {
			font-weight: 200;
			color: black;
}

/* Sub Page Gray Ribbons 2 */
		#s3 {
			background: #333333;
			padding-top: 50px;
			padding-bottom: 50px;
		}

		#s3 h2 {
			color: white;
		}

		#social-footer h2 {
			color: black;
		}

		#s3 h3 {
			color: white;
		}


		#s3 p {
			color: white;
		}

		#s3 .col-lg-2 {
			padding-left: 0px;
			padding-right: 0px;
		}

/* Sub Page White Ribbons 2 */

		#s4 {
			background: #ffffff;
			padding-top: 50px;
			padding-bottom: 50px;
		}

		#s4 i {
			font-size: 70px;
			color: #2f2f2f;
			padding-bottom: 30px;
		}

		#s4 i:hover {
			color: #f1c40f
		}

		#s4 h2 {
			color: black;
		}

		#s4 p {
			font-weight: 200;
			color: black;
}

/* Sub Page Gray Ribbons 3 */
		#s5 {
			background: #333333;
			padding-top: 50px;
			padding-bottom: 50px;
		}

		#s5 div h2 {
			color: white;
		}

		#social-footer h2 {
			color: black;
		}

		#s5 div h3 {
			font-size: 30px;
			color: white;
		}


		#s5 div p {
			color: white;
		}

		#s5 .col-lg-2 {
			padding-left: 0px;
			padding-right: 0px;
			}


/* Sub Page White Ribbons 3 */

		#s6 {
			background: #ffffff;
			padding-top: 50px;
			padding-bottom: 50px;
		}

		#s6 i {
			font-size: 70px;
			color: #2f2f2f;
			padding-bottom: 30px;
		}

		#s6 i:hover {
			color: #f1c40f
		}

		#s6 h2 {
			color: black;
		}

		#s6 p {
			font-weight: 200;
			color: black;
}

/* Mentors Page*/

		#mentors li {
			height: 300px;
			float: left;
			margin-bottom: 18px;
			margin-left: 20px;
			width: 170px;
		}

		#mentors p {
			line-height:20px;
			font-size: 18px;
			margin-bottom:5px;
		}

		#mentors a {
			color:#0088cc;
		}


/*TA SERVICES PAGE*/


#TASGallery .carousel-inner .active.left { left: -33%; }
#TASGallery .carousel-inner .next        { left:  -33%; }
#TASGallery .carousel-inner .prev        { left: 33%; }
#TASGallery .carousel-control.left,.carousel-control.right {background-image:none;}
#TASGallery .item:not(.prev) {visibility: visible;}
#TASGallery .item.right:not(.prev) {visibility: visible;}
#TASGallery .rightest{ visibility: visible;}

@media only screen and (max-width: 1026px){
	#TASGallery{
		display: none;
	}
}

@media only screen and (min-width: 1026px){
	#TASAlt{
		display:none;
	}
}

a.popup-link {
padding:17px 0;
text-align: center;
margin:7% auto;
position: relative;
width: 300px;
color: #fff;
text-decoration: none;
background-color: #FFBA00;
border-radius: 3px;
display: block;
}
/* a.popup-link:hover {
background-color: #ff9900;
box-shadow: 0 3px 0px 0px #eea900;
-webkit-transition:all 1s;
-moz-transition:all 1s;
transition:all 1s;
}*/
/* end link popup*//*style untuk popup */
#popup {
visibility: hidden;
opacity: 0;
margin-top: -200px;
}
#popup:target {
visibility:visible;
opacity: 1;
background-color: rgba(255,255,255,0.7);
position: fixed;
top:0;
left:0;
right:0;
bottom:0;
margin:0;
z-index: 99999999999;
-webkit-transition:all 1s;
-moz-transition:all 1s;
transition:all 1s;
}

@media (min-width: 768px){
	.popup-container {
	width:600px;
	}
}
@media (max-width: 767px){
	.popup-container {
	width:100%;
	}

	.grid_TA_Wall {
		padding: 5%;
		margin-left: 0;
	}

	.grid_TA_Wall li {
		padding: 10px;
	}

	.grid_TA_Wall .item {
		float: left;
	}
}
.popup-container {
	position: relative;
	margin:7% auto;
	padding:30px 50px;
	background-color: #333;
	color:#fff;
	border-radius: 3px;
}

a.popup-close {
	position: absolute;
	top:3px;
	right:3px;
	background-color: #fff;
	padding:7px 10px;
	font-size: 20px;
	text-decoration: none;
	line-height: 1;
	color:#333;
}

/* style untuk isi popup */
.popup-form {
	margin:10px auto;
}
.popup-form h2 {
	margin-bottom: 5px;
	font-size: 37px;
	text-transform: uppercase;
}
.popup-form .input-group {
	margin:10px auto;
}
.popup-form .input-group input {
	padding:17px;
	text-align: center;
	margin-bottom: 10px;
	border-radius:3px;
	font-size: 16px;
	display: block;
	width: 100%;
}
.popup-form .input-group input:focus {
	outline-color:#FB8833;
}
.popup-form .input-group input[type="email"] {
	border:0px;
	position: relative;
}

.popup-form .input-group input[type="message"]{
	border:0px;
	position: relative;

}

.popup-form .input-group input[type="submit"] {
	background-color: #CF353B;
	color: #fff;
	border: 0;
	cursor: pointer;
}
.popup-form .input-group input[type="submit"]:focus {
	box-shadow: inset 0 3px 7px 3px #2E2E2E;
}


#TASpopUp textarea {

	width:100%;
	height:200px;


}

#TASDesc{

	width:100px;
	height:200px;
}


/*========== Navbar Adjustments ==========*/

#sddm{
	padding-top: 3px;
}


@media screen and (min-width: 1141px){
	#nav_container{
		margin: 0 10%;
	}
}

@media screen and (max-width: 1174px) and (min-width: 1141px){
	#nav_container{
		margin: 0 8%;
	}
}


@media screen and (max-width: 1140px) and (min-width: 1100px){
	#nav_container{
		margin: 0 8%;
	}
}

@media screen and (max-width: 1099px) and (min-width: 1015px){
	#nav_container{
		margin: 0 5%;
	}
}

@media screen and (max-width: 1014px){
	#nav_container{
		margin: 0 5%;
	}
}




/* bootstrap collapse adjustment */

@media (max-width: 1065px) {

	#m1, #m2, #m3, #m4, #m5, #m6{
		display: none;
	}


    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
   .navbar-nav .open .dropdown-menu {
       position: static;
       float: none;
       width: auto;
       margin-top: 0;
       background-color: transparent;
       border: 0;
       -webkit-box-shadow: none;
       box-shadow: none;
    }
}









>>>>>>> 838da3f4779bf424e559f0e2ea490578897d06ba
