<!-- Header content -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" >
<meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt }}{% else %}{{ site.description }}{% endif %}" >
<meta property="og:url" content="{% if page.url %}{{ site.url }}{{ page.url }}{% else %}{{ site.url }}{% endif %}" >
    <meta name="author" content="">
    <meta name="google-site-verification" content="ZHa3CqXpt-ieUEB4w2KPISG0VTXYEnoGFNtCsaY3yeo" />

    {% if page.url == "/404.html" %}
    	<meta http-equiv="refresh" content="3; url=/">
    {% endif %}

    <link rel="icon" href="/assets/ico/favicon.ico">

    <title>Awesome Inc - Technology. Creativity. Startups.</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/css/main.css" rel="stylesheet">

	<link rel="stylesheet" href="/assets/css/font-awesome.min.css">

	<!-- Google Fonts -->
	
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
    
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
           <!-- Old Header Text 
           <a class="navbar-brand" href="#"><b>Awesome Inc</b></a>
      		 -->
      		 <!-- Added to make the logo move down a little.
      		 -->
          <div style="margin: 0px; padding:0px; clear: both; height: 6px">
	&nbsp;

</div>

<a href="/"><img src="/assets/img/logo.png" alt="Awesome Inc Logo"> </a>
        </div>

        <div class="navbar-collapse collapse">
          
          <ul class="nav navbar-nav right-nav">
            <li><a href="/about/">About</a></li>
            <li><a href="/for-entrepreneurs/">For Entrepreneurs</a></li>
            <li><a href="http://www.awesomeincu.com" target="_blank">Learn to Code</a></li>  
            <li><a href="/coworking">Coworking</a></li>
            <li><a href="/internships">Internships</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    
    <!-- Body content ############################### -->

    {{content}}

    <!-- Footer content #################################### -->




	<!-- White Wrap Version 2 - Social Icons -->
	<div id="w2">
		<div class="container">
			<div id="social-phrase" class="row centered">
				<h2>Connect with Us.</h2>
				<br>
				<br>
				<div class="col-lg-2 col-lg-offset-2">
					<a href="http://twitter.com/awesome_inc" target="_blank"><i class="icon-twitter"></i></a>
				</div><!-- /col -->
				<div class="col-lg-2">
					<a href="http://facebook.com/awesomeincorporated" target="_blank"><i class="icon-facebook"></i></a>				
				</div><!-- /col -->
				<div class="col-lg-2">
					<a href="http://www.youtube.com/AincTelevision" target="_blank"><i class="icon-youtube"></i></a>
				</div><!-- /col -->
				<div class="col-lg-2">
					<a href="http://www.flickr.com/photos/awesomeinc/" target="_blank"><i class="icon-flickr"></i></a>
				</div><!-- /col -->
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /White Wrap Ver.2 - Social Icons -->


	<!-- Footer Wrap -->
	<div id="f">
		<div class="container">
			<div class="div-home-page">
			<div class="row">
				<div class="col-lg-4">
				
					<h3>About Awesome Inc</h3>
					<p>We exist to create and grow high-tech startups. We do this by hosting community events, leading technology education courses, and offering a shared workspace environment. <br><a href="/culture-book.pdf" target="_blank">View Our Culture Book</a></p>
		
				</div>
			
				<div class="col-lg-4" id="footer-links">
					
					<h3>Our Headquarters</h3>
					<p><a href="http://maps.google.com/maps/place?ie=UTF8&q=awesome+inc&fb=1&gl=us&hq=awesome+inc&hnear=Lexington,+KY+40507&cid=8954829338718477855&t=h&z=14" target="_blank">
						348 E. Main St.<br/>
						Lexington, KY 40507</a><br/>
						<a href="tel:+15022099960">502-209-9960</a><br/>
						<a href="mailto:founders@awesomeinc.org">founders@awesomeinc.org</a><br>

						<!-- Parking Modal -->
						<b><a data-toggle="modal" href="#parking">Parking</a></b>
					
							<div class="container">
								<div class="row centered">
	
											  <div class="modal fade" id="parking" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
											    <div class="modal-dialog">
											      <div class="modal-content">
											        <div class="modal-header">
											          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
											          <h4 class="modal-title">Parking</h4>
											        </div>
											        <div class="modal-body">
											          <p>
														  <b>Where you can park:</b><br><br>

														  Check out the <a href="https://maps.google.com/maps/ms?f=q&source=s_q&hl=en&geocode=&ie=UTF8&hq=parking+near+awesome+inc&hnear=&msa=0&msid=114116276748560767348.000478ba713245b668b31&ll=38.041577,-84.492438&spn=0.003333,0.004823&t=h&z=18" target="_blank"><u>Map of Parking</u></a> near Awesome Inc.<br><br>

														  <b>Park Here:</b><br>

														   Option 1: Behind building at the corner of Main and Midland/E. Vine (formerly People’s Exchange Bank)  <br>Option 2: Lot to the left of Awesome Inc building <br> Option 3: Metered spots behind the building (on Water St.) <br> Option 4:Parking Garage - across the street, under “Main and Vine” apartment/condo complex.<br><br>

														 <b> Do Not Park:</b><br>

														  Outside the retail plaza (in front of garage) <br>Spaces marked for Wells Fargo, Commerce Lexington, Porter Paints or VisitLex<br>
													  
							          
											          </p>
											        </div>
											        <div class="modal-footer">
											          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
											        </div>
											      </div><!-- /.modal-content -->
											    </div><!-- /.modal-dialog -->
											  </div><!-- /.modal -->
		
								</div><!-- /row -->
							</div><!-- /container -->
							<!-- Parking Modal -->
					</p>
			
				</div>
				<div class="col-lg-4">
				
					<h3>Newsletter</h3>
					<p>Get monthly updates from the Awesome Inc community.</p>
					<a type="button" id="foot-btn" class="btn btn-danger btn-large" href="http://eepurl.com/cpRlL" target="_blank">SUBSCRIBE</a>
				
				</div>
			</div>
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /Footer wrap -->

	<div id="c">
		<div class="container">
			<h2 id="sponsor_text">Sponsors</h2>
			<a href="http://www.commercelexington.com/" target="_blank">
				<img class="sponsor_img" src="/assets/img/brands/com_lex_logo.png"/>
			</a>
			<a href="http://apaxsoftware.com/" target="_blank">
				<img class="sponsor_img" src="/assets/img/brands/apax-logo.gif"/>
			</a>
			<div class="pull-right">
				<p>Crafted by Huu Nguyen and David Booth</p>
			</div>
		</div>
	</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<script type="text/javascript" src="/assets/js/smoothscroll.js"></script>
	<script type="text/javascript" src="/assets/js/modernizr.custom.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/main.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <script>
    	$(function () { $("[data-toggle='tooltip']").tooltip(); });
    </script>
	 <!-- <script>
	// 	$('.carousel').carousel({
	// 	  interval: 3500
	// 	});
	// </script> -- >

	<!-- Google Analytics JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-2028878-9']);
	  _gaq.push(['_setDomainName', 'awesomeinc.org']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
  </body>
</html>
